[2014-12-16 20:13] tkellen opened #1 "use liftoff 1.0"
no breaking changes, just recognizing the project has reached 1.0 maturity (v8flags hasn't yet, though!).

2.0 will bring support for locating multiple config files (like .gulprc for example).

[2014-12-18 00:46] #1 closed, assigned to nobody

[2014-12-28 06:59] phated opened #2 "Need more tests"
We need more exec tests.

[2014-12-28 07:00] phated opened #3 "Test support for windows"
To get exec to work on windows, something special needs to be done.  Not sure what it is.  Also need to update current tests.

[2014-12-28 23:46] #3 closed, assigned to nobody

[2014-12-28 23:51] phated opened #5 "Hook up to travis and appveyor"
Needs to be done by @contra

[2014-12-30 05:03] #5 closed, assigned to yocontra

[2015-01-05 10:31] heikki opened #7 "Bin conflict with gulp & gulp-cli"
Npm install fails when having gulp-cli as dependency and gulp as devDependency. This is probably because both of them try to link their own gulp bin.

[code]

[2015-01-05 10:38] heikki commented on #7
Is gulp-cli meant to be installed globally in the future? I'm wondering if both of them need the bin.

I run into this issue in my slush fork: https://github.com/heikki/slush/tree/4.0

[2015-01-05 10:48] phated commented on #7
gulp-cli was meant to be installed globally but then aliased in gulp so when it is installed locally, you can easily do `gulp whatever` in npm scripts inside package.json without adding gulp-cli to your devDeps.  This was a problem @tkellen pointed out with grunt's approach to grunt-cli. His comment is https://github.com/gulpjs/gulp/issues/805#issuecomment-66880564

[2015-01-05 14:04] tkellen commented on #7
Whoops, didn't read this code yet. By making gulp-cli a dependency of gulp it should make gulp available in `node_modules/.bin` when installed locally, but it won't make it available globally--for that you'd have to install gulp-cli. Let me confirm these assumptions later today, it's been a long time since I looked at this.

[2015-01-05 15:32] heikki commented on #7
I'd be happy to use a workaround for this case. So far I have found only bad ones :smile:
Anyways, there could be issues if people install both gulp & gulp-cli locally or globally.

[2015-01-06 00:13] tkellen commented on #7
So, my previous assumptions were incorrect, but, @heikki why are you depending on both `gulp-cli` and `gulp` at the same time? You should never need `gulp-cli` in your dependencies.

[2015-01-06 01:30] heikki commented on #7
@tkellen I linked the [slush fork](https://github.com/heikki/slush/tree/4.0) above. I'm trying to modify slush to use `gulp-cli` instead of copying the same code there. `gulp` was there just for tests i.e. there's a gulpfile that gets called by slush.

Workaround is fine for me. I just thought to bring this up because I'd imagine ppl can get easily things messed. For example install both globally,

[2015-01-06 18:33] phated commented on #7
@heikki I'd like a way to solve this but we really only have 2 options:

1. Have as a dep of gulp and have the clashing bins when installed next to each other.  - I want to look into npm further to see if we can avoid failing, like an optional bin or something
2. Make gulp-cli a peerDep of gulp so they both get installed upon `npm install`, this works with --save but the remove doesn't.  On top of

[2015-01-06 18:52] heikki commented on #7
3. Remove bin from `gulp-cli` and keep using `gulp` for both local & global installs.

Global install would be bigger but wouldn't it solve this issue? Am I overlooking something?

[2015-01-06 19:21] phated commented on #7
It's a versioning thing. It will be confusing that gulp 3.whatever globally installed can run gulp 4.whatever but only if it is local. Having a separate (smaller being another benefit) module that is versioned separately makes that distinction easier.

[2015-01-06 19:47] heikki commented on #7
I agree. I'd still rather have that if it prevents breaking things accidentally. I usually install global modules without specifying version and occationally update all of them to latest and expect that things keep working. Random notes:

* Separating `gulp-cli` would still have benefits
* From user perpective local/global gulp would keep working as usual
* 'Warning: gulp version mismatch:' could

[2015-01-06 23:55] heikki commented on #7
That explains.. :smile:  Can't get better (and more logical) cli separation than that.

[2015-01-11 00:14] phated commented on #7
Looking into this more.

I just attempted `npm install gulpjs/gulp#4.0 gulpjs/gulp-cli#4.0` and it works sometimes.  This seems to be a race condition in the unlinking of the previous `bin` and I will talk with @othiym23 about it.  They don't seem to have a problem when installed separately because of the unlink.  I think the EEXIST is also a bug in npm given the behavior of global.  Will ask abou

[2015-01-12 20:09] othiym23 commented on #7
I would believe there's an issue here, and it would be a lot easier for me to get traction on establishing where the issue is if you could do me a solid and reduce the failure to a minimal test case. File an issue in the meantime, so I have something I can track. Thanks!

It's worth pointing out that this will 100% be affected by the changes to the install in `npm@3`, which @iarna is getting close

[2015-01-13 15:00] ibc opened #9 "gulp-cli fails if local gulp is 4.0"
Within my project's `package.json` I have:

[code]

If I globally install stable `gulp` (3.X) and run `gulp` it fails (known issue, ok). But if I globally install `gulp-cli` it also fails:

[code]

I fail to understand the purpose of `gulp-cli` if it fails in this scenario. Do I miss something?

[2015-01-13 15:03] heikki commented on #9
`npm install -g "gulpjs/gulp-cli#4.0` ?

[2015-01-13 15:03] ibc commented on #9
OK, it works if I globally install gulp-cli 4.0 branch. However, shouldn't a simple `npm install -g gulp-cli` work in any case?

[2015-01-13 15:05] heikki commented on #9
Not until 4.0 branch is merged.

[2015-01-13 15:05] ibc commented on #9
Thanks for clarifying it.

[2015-01-13 15:05] #9 closed

[2015-01-13 16:58] heikki commented on #7
@othiym23 Is simple package.json ok for test case?

https://gist.github.com/heikki/eae172b8d1c5a97ed5ef#file-package-json

[2015-01-13 22:03] othiym23 commented on #7
@heikki I can't get the attached `package.json` to barf, at least with `npm@2.2.0` on Windows 8.1. If it were failing semi-reliably, yes, that would absolutely be enough for me to work from.

[2015-01-13 22:17] heikki commented on #7
@othiym23 on osx & `npm@2.1.8` I see fails maybe 50% of the time. I delete node_modules after each try. Not sure if that makes any difference.

[2015-01-14 01:28] phated commented on #7
@othiym23 was there a change in 2.2 that would cause this to not happen anymore?  Also, the command `npm install -g gulpjs/gulp#4.0 gulpjs/gulp-cli#4.0` can be used to get this to happen for a global install ~50% of the time on OSX.

[2015-01-14 01:47] heikki commented on #7
I'm seeing this in 2.2 too. Mentioned in npm issue: https://github.com/npm/npm/issues/7130

[2015-01-14 02:03] phated commented on #7
@heikki thanks for opening the issue, as I am out of town and don't have much time until next week.

[2015-01-15 13:35] callumacrae opened #10 "io.js support"
As far as I can see, getting Node to use io.js would just just be a case of [changing the hashbang](https://github.com/gulpjs/gulp-cli/blob/master/bin/gulp.js#L1) (and the one in gulp). Liftoff has no problems with io.js: tkellen/node-liftoff#30

Is there a way to support io.js which doesn't involve switching the entire project to use it? Say, if I want to use io.js in my gulpfile.js.

[2015-01-15 13:36] tkellen commented on #10
io.js aliases node, it should work out of the box.  have you tried this?

[2015-01-15 13:37] callumacrae commented on #10
d'oh. No, I haven't: I didn't want to try io.js until I knew that it wouldn't break anything.

[2015-01-15 13:44] #10 closed

[2015-01-15 23:09] silkentrance commented on #7
Running `npm install` twice seems to do the trick, though.

[2015-01-15 23:11] silkentrance commented on #7
Perhaps renaming grunt-cli/bin/grunt.js to grunt-cli/bin/grunt will do the trick?

[2015-01-15 23:38] phated commented on #7
@silkentrance no, this is an npm issue as stated above

[2015-01-20 14:24] darsain opened #12 "Doesn't work"
I wish I could be more specific in the title, but I have no idea what the issue is in here :)

Setup: windows + `gulp-cli@0.1.5` + `gulp@#4.0`

Error after runing `gulp` inside `d:\websites\project`:

[code]

[2015-01-20 14:36] darsain commented on #12
What works as global `gulp` command:

- [ ] gulp@3.8.10 - *error above*
- [ ] gulp-cli@0.1.5 - *error above*
- [x]  gulp@4.0.0-alpha.1 - **works fine**

[2015-01-20 14:47] heikki commented on #12
Use 4.0 branch of gulp-cli with 4.0 branch of gulp.

[2015-01-20 14:48] heikki commented on #12
Duplicate of #9

[2015-01-20 15:03] darsain commented on #12
Oh? I wouldn't even think that exists, as I thought that the whole point of gulp-cli is to work with all gulp versions, so we don't have to juggle global `gulp` installs.

Is there a reason why it doesn't work like that? I thought that gulp-cli would mostly do nothing on it's own, and be merely a proxy to local `node_modules/bin/duo`.

[2015-01-20 15:17] heikki commented on #12
It is not finished.

[2015-01-20 16:01] #12 closed

[2015-01-26 10:37] ibc opened #13 "When will 4.0 be released"
Sorry for opening an issue for such a question. Which is the ETA for `gulp-cli` 4.0 (the version that is supposed to run any local `gulp` version)?

[2015-01-26 18:40] phated commented on #13
There is no ETA because we are blocked by #7 - We are considering publishing an alpha sooner though.

[2015-01-26 18:40] #13 closed

[2015-01-26 19:38] ibc commented on #7
AFAIU the idea behind `gulp-cli` and `gulp` is that `gulp-cli` must be globally installed (so it provides the `gulp` bin) while `gulp` must be locally installed.

AFAIK the same "bin" problem would happen if somebody globally installs both `grunt` and `grunt-cli`.

[2015-01-26 19:40] phated commented on #7
@ibc grunt opted to not expose a bin from the main grunt module.  @tkellen told us the downsides to that and suggested we ship a bin with both, hence the problem.

[2015-01-26 19:41] ibc commented on #7
OK, then just properly document that `gulp` should not be globally installed but, instead, that is what `gulp-cli` exists for.

[2015-01-26 19:42] phated commented on #7
@ibc the people that currently have gulp installed and then install this globally will have problems.  We aren't shipping it until npm fixes their bug because none of us want to field npm bugs in the gulp issue tracker.

[2015-01-26 20:44] silkentrance commented on #7
@phated while it seems nice to have both packages expose a bin/gulp.js, it might not be the wisest decision and also might oppose all best practices established so far. I would go for the standard way and have both a gulp-cli package that exposes the binary and a second API package that exposes the API.

And since the tool/API is in a rather early stage of development I would simply go for it inst

[2015-01-26 21:08] phated commented on #7
We are going to ship both. It is annoying to have to have something like gulp-cli in devDeps just to have access to the bin in your npm scripts

[2015-01-26 21:10] sindresorhus commented on #7
@phated I disagree. Separation of concerns is a good thing. "one way of doing things" is too.

[2015-01-26 21:12] phated commented on #7
@sindresorhus I don't care because @tkellen's advice was correct. I hate how grunt does it currently

[2015-01-26 22:34] silkentrance commented on #7
@phated the way grunt and other tools do it works just fine. @tkellen please advise.

[2015-01-26 22:49] phated commented on #7
@silkentrance dude, it's already been quoted and linked in this thread.  Locking.

[2015-02-05 08:52] julien commented on #10
Hi, any update on this?

[2015-02-05 10:12] callumacrae commented on #10
@julien Check out gulpjs/gulp#873

[2015-02-18 13:44] heikki commented on #5
Can we have a gulpjs account on appveyor?
Currently builds point to here -> https://ci.appveyor.com/project/phated/gulp-cli

- http://help.appveyor.com/discussions/questions/910-how-to-create-an-account-for-a-github-org
- http://help.appveyor.com/discussions/questions/744-using-appveyor-for-a-github-org

[2015-02-18 22:09] heikki commented on #5
I created new one -> https://ci.appveyor.com/project/gulpjs/gulp-cli

[2015-02-22 13:10] contra opened #15 "upgrading from gulp to gulp-cli causes autocompletion error (4.0 branch)"
`gulp autocompletion rules for 'bash' not found` with `eval "$(gulp --completion=bash)"` in the bashrc which is what we used to recommend. no docs available for how to use autocompletion on any repos now afaik

[2015-02-22 13:54] heikki commented on #15
I'll take this one if you haven't started already.

[2015-02-22 14:09] contra commented on #15
Yep haven't looked into it yet - feel free!

[2015-02-22 14:57] #15 closed

[2015-02-22 15:27] contra commented on #15
@heikki Nicely done :+1:

[2015-02-26 23:50] danielcompton opened #17 "Gulp CLI exits with zero even after an error"
[code]

I'm running gulp 4, and it looks like it exits with 0 even when there is an error.

[2015-03-14 03:28] phated opened #19 "Support a `description` property on task functions"
If we see a property named `description` on a task function, we should print it when using the `--tasks` flag.

ref gulpjs/gulp#591

[2015-03-19 12:39] louisremi commented on #19
I have implemented support for the `.description` property both in master (see #20 )  and 4.0 (see #21 ).
To make it simpler to use this feature, I propose adding a `.describe()` method to gulp-util, see [gulp/gulp-util/issues/90](https://github.com/gulpjs/gulp-util/issues/90).

Waiting for your feedback : )

[2015-03-22 03:54] #19 closed

[2015-04-17 12:42] mikehaas763 opened #24 "Trailing spaces in gulp --tasks output breaks WebStorm tooling."
Right now, WebStorm parses the output of `gulp --tasks` to capture the tasks that can be run. I'm testing this with the v4 alpha of both gulp and gulp-cli. I have a very simple gulpfile with a single task. I've noticed that the output from running `gulp --tasks` now has two spaces appended to my task name. So when WebStorm parses the task tree, it attempts to run `gulp "clean  "` which does not ex

[2015-04-17 14:47] mikehaas763 commented on #24
I just got feedback from Jetbrains. Apparently this was already brought up and WebStorm will be using --tasks-json (which I just discovered in another issue) as of 10.0.2

Source here:
https://youtrack.jetbrains.com/issue/WEB-16000

[2015-04-17 14:47] mikehaas763 commented on #24
Should probably leave this issue open because in any case I don't think the regular tree output should be appending spaces. Agreed?

[2015-04-17 18:58] phated commented on #24
This is a side-effect of us supporting [task descriptions](https://github.com/gulpjs/gulp/blob/4.0/docs/API.md#fndescription) now.  We've exposed the entire task tree for use by tooling through the `--tasks-json` CLI flag and the `tree` API (recently documented at https://github.com/gulpjs/gulp/blob/4.0/docs/API.md#gulptreeoptions).  It looks like we are missing docs for `--tasks-json` but I will

[2015-04-17 19:37] mikehaas763 commented on #24
@phated Ya I've been scouring issues and docs today relating to gulp/gulp-cli and undertaker so I eventually figured that out.

Task descriptions: Ah, I see. So I'm guessing the resulting two spaces is a side effect of a printf()-like functionality where you set a specific number of character aside for a column?

Commenting on jetbrains issue: Yes, I think you just have to log in at the top right.

[2015-04-17 19:49] phated commented on #24
@mikehaas763 yeah, the issue comes from pretty-printing columns for the descriptions.

 I think they could create a tiny bin file that expects to be run in node.  Reading through the comments on that thread, it seems like it would be less hacky than shelling out to gulp and parsing the output, looking for `[` and `]`.  Maybe we can switch `--tasks-json` to do a simple print like `--tasks-simple`.

[2015-04-20 20:04] mikehaas763 commented on #24
@phated I don't have any contacts but I'm fairly positive that @segrey who opened gulpjs/gulp#584 is the same Sergey that is responding to the Jetbrains issue ticket.

[2015-04-20 22:27] segrey commented on #24
Hi guys,
Thanks for the invitation. Glad to join this conversation.
To fetch tasks for gulp v3 WebStorm uses `--tasks` cli option.
For gulp v4 `--tasks-json` is being used. I'm pretty happy with the json output so far. The only thing is that json occupies several lines and if gulpfile outputs anything to stdout during the task registration phase, that might complicate interop a bit. A tiny node bi

[2015-04-21 01:55] mikehaas763 commented on #24
@segrey I think what he's saying is that you would call from the node bin "gulp.tree()". Then you would be in control of what can get logged to stdout. Is that right @phated?

I do like the idea of being able to call directly into code to get an object but what is the purpose of --tasks-json if it cannot be guaranteed a whole and valid JSON document? In the case of someone logging during the task

[2015-04-21 13:34] contra commented on #24
Could noop process.stdout if --tasks or --tasks-json was passed to the CLI to make sure nothing but the tasks gets logged

[2015-04-21 16:09] segrey commented on #24
@contra That's a solution. Other possible solutions:
* reformat JSON to make it occupy one line
* print JSON to a file specified by a new cli option

[2015-04-21 21:15] phated commented on #24
I like the idea of using JSON.stringify to reduce the JSON to a single output line. @contra thoughts?

[2015-04-21 21:25] contra commented on #24
@phated I think nooping stdout/stderr is the more robust solution because there are multiple tools (for example, all of our autocomplete script) that rely on this output being clean and usable

[2015-04-21 21:27] phated commented on #24
@contra I understand that sentiment but it just seems so dirty to hijack stdout.  I actually rely on the ability to `console.log` whenever I while creating gulpfiles.

[2015-04-21 22:04] contra commented on #24
@phated only when --tasks or --tasks-json is passed, not like it would always hijack it

[2015-04-21 22:11] mikehaas763 commented on #24
I agree that it seems dirty to hijack it though it doesn't seem so bad if limited to only specific routines where it's needed like --tasks-json. I'd think it would be worse to have someones tooling break because they forgot a console.log somewhere than it would be to suppress their console.log for routines that are intended for tooling.

Heh, if it ever became a problem you could extend --tasks-js

[2015-04-22 10:47] segrey commented on #24
Nooping stdout sounds reasonable. What bothers me a bit about nooping stdout is that inserting `console.log` in gulpfile is a way to find out the cause of not loaded task list in IDE. Another way is to start a debug session attached to `gulp --tasks-json` process, but that requires more effort from a user.

About nooping stderr: wouldn't it hide exceptions raised in gulpfile? Probably, it's not ne

[2015-05-12 23:54] michaelbeil opened #25 "Coveralls link is broken"
This may be trivial, but the Coveralls badge link 404s.

[2015-06-19 19:21] ide opened #27 "gulp-cli does not pick up gulpfile.babel.js"
(Moved from https://github.com/gulpjs/gulp/issues/1098)

The gulp program that comes with the gulp-cli package (0.2.0) doesn't find gulpfile.babel.js. Uninstalling gulp-cli and globally installing gulp fixed the problem so this isn't urgent, but it seems like gulp-cli should work.

[2015-06-24 00:38] sonicbobcat85 commented on #27
I second this.

[2015-06-24 00:42] dcrockwell commented on #27
+1

[2015-06-25 23:16] TomClarkson commented on #27
+2

[2015-06-26 12:35] martinkr opened #29 "#4 is broken"
Hey,

i just did a fresh install of gulp-cli and gulp, bothfrom branch#4 and unfortunately it's broken. The scripts worked before, now i get the following error
[code]
with
[code]

Cheers!

[2015-06-26 18:52] phated commented on #29
Duplicate of https://github.com/gulpjs/gulp/issues/1112 that was attempted to be fixed in #28 but I am on vacation and not sure I like the implementation in that PR.

[2015-06-26 18:52] #29 closed

[2015-06-27 20:19] JZL003 commented on #27
+3

It's also odd, it will work fine, I'll add a few node packages then it'll stop working. I'll remove and reinstall and it'll work fine. It's very odd to me

[2015-06-27 20:24] dcrockwell commented on #27
I found the issue on my system:

* I had a system version of `node` installed, which had a globally installed `gulp` of an earlier version. It was linked to `/usr/local/bin/gulp`.
* I use `nvm` to manage different versions of `node` and `iojs`, but although I had gulp installed globally and locally in my projects, the paths for `/usr/local/bin` were of higher priority than my local paths.

The sol

[2015-06-27 21:32] ide commented on #27
My setup doesn't have a system version of Node but good to eliminate that as a possible source of bugs.
[code]

[2015-06-28 02:51] TomClarkson commented on #27
Thanks reinstalling gulp fixed it for me

[2015-06-29 10:49] clintwood commented on #29
@phated, did you look at the updates based on your comments?

[2015-07-10 16:25] robabby commented on #27
@dcrockwell thanks for the recommendation, that worked for me.

[2015-07-12 02:38] phated commented on #27
Fixed by https://github.com/gulpjs/gulp-cli/commit/dc5409639f1eabb70bb943981afba29024268288

[2015-07-12 21:44] phated commented on #25
I've enabled gulp-cli on coveralls.

[2015-07-12 21:44] #25 closed

[2015-07-12 21:45] phated commented on #7
@heikki would you be able to test these use cases again but with npm 3.x?  If npm3 has solved this (or at least gave us a determinate behavior), then I'd be good with shipping the CLI.

[2015-07-12 22:43] phated commented on #27
This should be fixed as of 0.3.0 (just published).  Please note that the .es6 extension that was supported in 0.2.0 was removed.  I will be rebasing these changes onto the 4.0 branch shortly.

[2015-07-12 22:43] #27 closed

[2015-07-12 22:59] phated commented on #24
Reopening this because I almost lost it and forgot about it.  Can we come up with the best solution for this?

[2015-07-13 12:20] heikki commented on #7
@phated

I don't see `EEXIST` or `ENOENT` errors anymore with npm 3.1.0.

Linked gulp bin varies:

[code]

`npm uninstall -g gulp` still removes the gulp bin even if it belongs to gulp-cli package:

[code]

[2015-07-13 16:18] segrey commented on #24
IMO, the most reliable solution is to dump JSON to a file specified by some cli option, like `gulp --tasks-json --output=tasks.json`. Behavior is clear and predictable. But, it requires introducing a new cli option. So, I'm not sure it is worth. Nooping stdout is also OK for me, but please don't noop stderr, it might contain important message (moreover tools are able to handle stdout only).

[2015-07-13 19:55] iarna commented on #7
These both look like npm bugs to me– given the same module list it should be linking modules in the same order and apparently it isn't. And given that `gulp-cli` owns the link after the second install, removing `gulp` absolutely shouldn't remove it.

I'll open these as issues over on the npm tracker and link here.

[2015-07-13 20:01] phated commented on #7
@iarna thank you so much!

[2015-07-14 10:02] williamboman opened #30 "npm@3 extraneous packages"
When using `npm@3` I get error logs about `gulp-cli` having extraneous packages.

Example;

[code]

Not sure if this happens due to `npm@3` or if `gulp-cli` installs a new version of itself by itself.

[2015-07-19 23:18] phated commented on #24
We can probably use https://github.com/isaacs/mute-stream to mute the stream during load, unmute to spit out the json and then mute again until the process finishes.

@segrey why is a JSON file the best option?  We could probably add an optional parameter to --tasks-json (e.g. `--tasks-json=tasks.json`) but I'd like to know why that is the best option.

[2015-07-19 23:21] phated commented on #30
I don't see any dependency that would cause gulp-cli 0.3.0 to install gulp-cli as a dependency of itself.  If anyone is able to test/debug this further, I'd love the help.

@williamboman side note: great username :stuck_out_tongue:

[2015-07-20 09:14] contra commented on #24
BTW,  as a temporary fix

[code]

[2015-07-23 15:42] ripper2hl commented on #27
Same problem, this is fixed or not ? D:
![captura de pantalla de 2015-07-23 10 42 19](https://cloud.githubusercontent.com/assets/2611201/8854827/91621ec2-3127-11e5-990d-732cb29fcd59.png)

[2015-07-23 15:46] phated commented on #27
Please read your console output before posting. It states that you are using gulp 3.8.11 globally, which is completely the wrong version

[2015-07-31 11:17] segrey commented on #24
@phated I think nooping `stdout` stream is a good idea. However, JSON file is a bit clearer for me, because it exploits a clear way of separating streams. BTW, I couldn't mute `stdout` stream using this:
[code]
Output (node 0.12.7):
[code]

[2015-08-14 00:56] iarna commented on #7
Hey you all, can any of you reproduce the "different install orders" thing with `npm@v3.x-next`? I'm pretty sure that can't happen any more.

[2015-08-14 01:52] heikki commented on #7
Yes, details here -> https://github.com/npm/npm/issues/8995#issuecomment-130917005

[2015-08-19 08:56] danjuz commented on #27
@dcrockwell solution worked fine for me to. Thank you!

[2015-08-21 19:45] phated commented on #24
@segrey I just pushed a change that allows an output file to be specified for the `--tasks-json` argument.  I also removed the pretty printing because this option is not made for human consumption.

Example usage:
`gulp --tasks-json tasks.json`

[2015-08-21 20:30] segrey commented on #24
Cool, thank you.

[2015-08-21 20:31] contra commented on #7
The new npm is out, can we test and verify that this is fixed?

[2015-08-21 20:54] phated commented on #7
@contra it isn't out yet.  Should be out today, I think

[2015-08-21 20:59] phated commented on #7
For reference, the version we want to test this against will be 3.3.1 (currently "next" is 3.3.0)

[2015-08-21 22:30] phated commented on #24
Just added support for muting the process.stdout while requiring a gulpfile if we see a task listing flag.  Closing, as I believe both use cases are handled now.

[2015-08-21 22:30] #24 closed

[2015-08-21 22:31] phated commented on #30
@iarna @othiym23 any thoughts why this would happen?

[2015-08-21 22:34] phated commented on #17
I can't replicate this.  I get error code 1 when my task is never defined.

[2015-08-21 22:35] phated commented on #2
Anyone willing to write some tests for the CLI?  I'd like to have some more before 1.0 (which is coming very soon)

[2015-08-21 22:55] contra commented on #17
Can you provide a repo that reproduces this?

[2015-08-22 09:08] danielcompton commented on #17
Sorry, I don't have access to that build server to reproduce the error. I suspect that it may have been a bad interaction between Team City's gulp runner and gulp 4.

[2015-08-22 09:08] #17 closed

[2015-08-22 16:49] iarna commented on #30
Well, not knowing what command is being run makes this hard to know for certain, but I bet it was `npm update` which will be broken until the next release of npm@3 (next Thursday).

[2015-08-22 16:51] iarna commented on #7
Yup, 3.3.1 got bumped to next week for process reasons. If you already have 3.x installed somewhere, you can try out 3.3.1 by installing `npm/npm#release-3.3.1` with it.

[2015-08-22 18:51] williamboman commented on #30
`npm update -g`. I've gotten the error for other global packages like `npm` itself.

I'll close this here as it seems to be npm-related.

[2015-08-22 18:51] #30 closed

[2015-08-22 20:58] heikki commented on #7
Install order looks consistent with `npm/npm#release-3.3.1`.

[code]

[2015-09-01 08:45] ibc opened #31 "gulpInst is undefined"
[code]

[code]

It also happens with latest `gulp-cli` 0.3.0 (`gulp-cli` is globally installed).

*NOTE:* Using local `gulp` 4.0.0-alpha.1 and global `gulp-cli` 0.1.3 worked fine until I upgraded `gulp-cli` to 0.3.0. Then the error above happended, but worse, once I reverted to `0.1.3` the problem **still** happens, so it may be due to an updated dependency within `gulp-cli` (just wondering).

[2015-09-01 12:03] heikki commented on #31
`npm install -g "gulpjs/gulp-cli#4.0"` ?

[2015-09-01 12:07] heikki commented on #31
Déjà vu.. https://github.com/gulpjs/gulp-cli/issues/9#issuecomment-69757010

[2015-09-01 12:07] #31 closed

[2015-09-09 23:09] phated commented on #7
:tada: :balloon: :birthday: :fireworks: :beers: Closing this now.

[2015-09-09 23:09] #7 closed

[2015-09-11 20:57] bill-barron opened #33 "Liftoff returning empty env.modulePackage object to gulp. Breaks SemVer version comparison."
I just did a new install of gulp with and without the global flag. After that I tried to run a task and got the following error:

    C:\Users\USERNAME\AppData\Roaming\npm\node_modules\gulp\node_modules\semver\semver.js:281
    throw new TypeError('Invalid Version: ' + version);
    ^

    TypeError: Invalid Version: undefined
    at new SemVer (C:\Users\USERNAME\AppData\Roaming\npm\node_modules\g

[2015-09-11 21:06] phated commented on #33
I am pretty sure you don't have a local version of gulp.  See https://github.com/gulpjs/gulp/issues/1088#issuecomment-122157366 for more reference.

[2015-09-14 07:05] phated commented on #33
Closing, as the only way this happens is when there is no local gulp.  I'd love someone to send a PR that gives a better error message when no local gulp exists.

[2015-09-14 07:05] #33 closed

[2015-09-14 07:06] phated opened #34 "Better error message when no local gulp exists"
Currently, when people don't have a local gulp installed, they are seeing errors such as #33

I'd really like to have a better check around local gulp install and a nice error message.

@tkellen is there a way for us to do this using the object Liftoff gives us?

[2015-09-14 12:12] tkellen commented on #34
I'm not able to reproduce this out of master or the 4.0 branch.

Both of these checks are functioning correctly for me:
https://github.com/gulpjs/gulp-cli/blob/master/index.js#L88-L95
https://github.com/gulpjs/gulp-cli/blob/4.0/index.js#L120-L127

[2015-09-14 12:15] tkellen commented on #34
To clarify, I'm seeing this with the following:
[code]

[2015-09-14 12:49] tkellen commented on #34
As a point of clarification, I'm seeing this (correct) behavior on node 0.12 and node 4.0. I need a set of reproduction steps to help here.

[2015-09-14 14:20] bill-barron commented on #33
I appreciate your help, but I just wanted to reiterate that gulp is installed both locally and globally. When I manually add the correct version number in the global gulp.js code everything runs fine.

My project is on a mapped network dive though. So instead of \\server\path\gulpfile.js and \\server\path\node_modules it is mapped to r:\gulpfile.js and r:\node_modules

[2015-09-14 14:21] tkellen commented on #33
Please see https://github.com/gulpjs/gulp-cli/issues/34 and provide a list of steps to reliably reproduce this problem and I'd be glad to look into it!

[2015-09-14 23:51] phated commented on #34
@tkellen I think the way you get it is by running `gulp -v` when no local module is installed.  Maybe the solution is to swap those 2 `if` blocks?

[2015-09-14 23:54] phated commented on #33
@tkellen @bill-barron I think your issue is a duplicate of https://github.com/gulpjs/gulp/issues/1251 because findup-sync uses glob and the 4.x branch has problems with network drives.

[2015-09-15 01:48] tkellen commented on #34
I'm not seeing this with `gulp -v` either. This check is working correctly for both versions:
https://github.com/gulpjs/gulp-cli/blob/4.0/index.js#L97
https://github.com/gulpjs/gulp-cli/blob/master/index.js#L82

[2015-09-15 01:49] tkellen commented on #33
:+1: that seems likely to me.

[2015-09-15 05:57] phated commented on #34
hmm, maybe we need to check `env.modulePackage` as well on line https://github.com/gulpjs/gulp-cli/blob/4.0/index.js#L120?  It seems that liftoff finds the path, continues further until I pass the version to `findRange()`

Or maybe this problem just goes away when network drive stuff is fixed all the way down the stack :stuck_out_tongue:

[2015-09-19 22:57] sandipchitale opened #35 "Support recursive tree output for --tasks"
Something like:
[code]

[2015-09-19 22:58] contra commented on #35
Send a PR?

[2015-09-19 23:00] phated commented on #35
This can be done in userland with the exposed `gulp.tree()` method.  Not likely to add this to the CLI

[2015-09-21 20:47] phated commented on #35
As per https://github.com/gulpjs/gulp-cli/pull/36#issuecomment-142103723, undertaker builds the recursive tree, it shouldn't be the responsibility of the `taskTree` method to do that.

[2015-09-21 20:47] #35 closed

[2015-09-21 21:12] phated commented on #35
The test has been updated to be less confusing in https://github.com/gulpjs/gulp-cli/commit/1c0da0d35a81ac1a0e0e4e3296026bd06cd43d12

[2015-09-22 00:16] phated commented on #34
@tkellen I actually can't get this to happen either.  Now that the findup-sync problem has been resolved, I will probably close this.  I will leave it open for a little while longer incase anyone produces a repro case.

[2015-09-26 00:55] terinjokes opened #38 "document CLI options"
The CLI options aren't currently documented, and it's not clear, even when looking at the source, what the options are.

[2015-09-27 21:44] phated commented on #34
Going to close this

[2015-09-27 21:44] #34 closed

[2015-09-27 21:45] phated commented on #38
We have support for --help now but I can stick the output of that in the readme

[2015-09-28 07:47] contra commented on #38
@phated Something left to document? Closed this because github didn't autoclose it even though you put "closes #38" in the commit

[2015-09-28 07:47] phated commented on #38
Not happy with the formatting. They are still in a branch while I work on them. Sorry

[2015-09-28 07:48] contra commented on #38
np misunderstood

[2015-09-28 08:56] chmontgomery opened #39 "support documenting and displaying task flags"
This request came out of this discussion: https://github.com/chmontgomery/gulp-help/pull/19

In gulp4 it would be nice to allow documenting task flags. I am already making this possible via [`gulp-help`](https://github.com/chmontgomery/gulp-help/tree/gulp4), along with a few other features as seen here:

<img width="605" alt="screen shot 2015-09-28 at 3 36 30 am" src="https://cloud.githubuserconte

[2015-09-28 19:57] phated commented on #39
We currently support description on task functions but I don't think we are going to add some custom API to specify flags that those functions look for.  I know @contra reached out on that issue but I think he missed what is actually happening in the screenshot.

[2015-09-28 19:58] phated commented on #39
Note: with the separation of the CLI, these things can/should be done as a custom CLI

[2015-09-28 20:21] phated commented on #38
@terinjokes can you review the docs in https://github.com/gulpjs/gulp-cli/tree/docs

[2015-09-28 20:40] contra commented on #39
@phated No, I saw what was happening in the screenshot. There are enough people who want custom shit displayed in the CLI that we should make it flexible enough for people to do custom lenses powered by undertaker metadata

[2015-09-28 20:49] terinjokes opened #40 "tasks should be able to delay timeout"
Tasks should be able to delay the timeout notification, as they are based able to determine if intensive work is being done. Otherwise, gulp-cli cascades the "Task did not complete after 10s." notification for everything in-flight, which in my case could include a number of orchestration tasks ("default", "series', "parallel", then finally the two tasks that are hard at work and eventually complet

[2015-09-28 20:55] contra commented on #40
Kind of similar to what mocha does

[2015-09-28 20:59] phated commented on #40
The timeout feature is just a debugging tool for people that are writing bad gulpfiles (there seems to be a lot of that happening).  It doesn't fail the task or exit or anything like that.  When running the gulpfile normally, set the timeout to 0.   Maybe we need to default it to 0, but I feel like people will lose the benefit of it if off by default.

[2015-09-28 21:00] phated commented on #40
I am not going to add API surface to the gulp core API to programmatically control this.

[2015-09-29 11:59] geirsagberg commented on #13
Any updates on this in light of #7 closed and NPM 4 released?

[2015-09-29 13:07] pycbouh commented on #24
Hello! I'd like to point out that this check in **lib/versioned/^4.0.0-alpha.1/index.js** probably doesn't work as intended

[code]

As mentioned before, WebStorm uses ```--tasks-json``` option, and for me this very commit broke integrated gulp tool in WS. If used as a boolean (while CLI options are marking it as a string), it is skipped by _yargs_, as it detects this option as an empty string. Fo

[2015-09-29 18:36] phated opened #41 "Marking --tasks-json as type string ignores when boolean with newest yargs"
Ref https://github.com/gulpjs/gulp-cli/issues/24#issuecomment-144053114

[2015-09-29 18:36] phated commented on #24
@pycbouh fyi, you should be opening new issues for new issues, not commenting on extremely old issues.  I did it for you :unamused:

[2015-09-29 18:38] phated commented on #41
@pycbouh I've fixed this.  Thanks for reporting.

[2015-09-29 18:38] #41 closed

[2015-09-29 18:40] phated commented on #13
We are very close to the 1.0 release of the CLI.

__Reminder:__ Gulp is built by volunteers. If you want to speed up the release, see if you can help with any of these issues: https://github.com/gulpjs/gulp/issues?q=is%3Aopen+is%3Aissue+label%3Agulp4

Check out a few of the previous issues opened for more info:

https://github.com/gulpjs/gulp/issues/1068
https://github.com/gulpjs/gulp/issues/968
h

[2015-09-29 18:51] pycbouh commented on #24
@phated Yeah, sorry :( I wanted to continue this discussion, as this is where the problem had been created, but didn't realize the right way would've been to create a new issue and then link this one there.

Thanks for educating me and fixing the problem anyway!

[2015-09-29 18:57] segrey commented on #41
@pycbouh Thanks for the heads up!
@phated Thanks for the quick turnaround!

[2015-09-29 19:13] phated commented on #40
With the newly proposed implemenation in https://github.com/gulpjs/gulp/issues/1268, I am 100% sure this is not needed.  Closing.

[2015-09-29 19:13] #40 closed

[2015-09-29 20:19] phated commented on #39
I think we could add this add an `options` property to the function (similar to how descriptions work) and then print them in the CLI.  However, the current design doesn't support that at all.  Before this feature would be implemented, I need to see some mockups of a new tasks display output.  It must cover: listing top level tasks, listing dependencies of the tasks (nested to all levels of the hi

[2015-09-29 20:26] phated commented on #39
Also opened a request on the main gulp repo for mockups

[2015-09-30 19:40] phated commented on #38
Merged to 4.0

[2015-09-30 19:40] #38 closed

[2015-10-01 16:29] chmontgomery commented on #39
@phated my personal opinion is that displaying the dependency tree, descriptions, and flags all in one output would be messy. With all the lines, it would be difficult to distinguish between flags and tree dependency lines. The dependency tree is super helpful, but perhaps as an ancillary option? I would suggest a task listing flag that only lists:

1. Display top level tasks prominently
1. Displa

[2015-10-01 21:08] phated commented on #39
@chmontgomery unfortunately, the task dependency tree is mandatory.  There are too many reports from people not understanding how their dependency tree is formed and running, and with the addition of function composition through `series` and `parallel` methods, the mental overhead to visualize the dependency tree gets even more complex.  So we must show that in the main task listing command.

[2015-10-02 04:18] chmontgomery commented on #39
@phated that makes sense. What about this idea: going back to @contra's point, what if we provide a configuration point (via `gulpfile.js` or something else) that allows someone to provide their own custom function for displaying tasks? This would allow for anyone's crazy way of displaying help. I could easily port my help styles to be used in that way.

If you want we can put it behind a separate

[2015-10-02 18:48] phated commented on #39
@chmontgomery There's definitely a bunch of ways to tackle an API that supports this.  I don't want to add any more API surface area to the `gulp` namespace, but attaching things to the task functions is pretty open.  I'd really like to solve this with the main `--tasks` flag if we can come up with a sensible UI for it but if not, maybe it can hide behind a different flag.  Still need some time to

[2015-10-12 05:55] chmontgomery commented on #39
@phated one more idea: what if we leave the `--tasks` flag as is (to accomplish your point) but allow it to be overridden given a custom function. That way we're not adding more surface area, leaving a sensible default but also allowing the user to overide and customize the view however they wish (including new flags, aliases, etc).

[2015-10-16 23:04] erikkemperman commented on #2
Noticed that currently the tests for `gulp-cli#4.0` use a dev dependency on `gulp>=3.8.10`
Looks like an artifact from 0.3.0? Shouldn't that be `gulpjs/gulp#4.0` or something?

[2015-10-16 23:11] phated commented on #2
@erikkemperman I think that the gulp dep should actually just be installed through a travis matrix instead of having it as a devDep (this is in response to an error someone got with npm 3 about installing gulp as a dependency of gulp).  Thoughts?

[2015-10-16 23:43] erikkemperman commented on #2
Not on Travis matrices, unfamiliar.

I have this working
https://github.com/erikkemperman/gulp-cli/commit/ccad33282ac28028786af1b55024b401255f61db

But I might have been cheating with symlinks.

[2015-10-17 07:54] erikkemperman commented on #2
@phated Your remark about NPM3, was that basically as reported in [#7](https://github.com/gulpjs/gulp-cli/issues/7)? If I read that correctly, it has been fixed upstream?

Above patch works for me, using stock NPM (2.14.4, from `make install` against latest node sources). But I have cross-linked my local `gulp#4.0` and `gulp-cli#4.0` before doing `npm install` and `npm test` on those.

Anyway, wha

[2015-10-18 12:22] Romanx commented on #2
I'd be willing to contribute some tests but I'm not sure what functionality you'd want testing specifically. If you'd like to give me a hit-list I'm happy to tackle it.

[2015-10-19 02:17] phated commented on #2
@Romanx we need unit tests on all of the functions in the `lib/` directory and we can use integration tests on all the CLI options (listed in the readme of 4.0 branch).

[2015-11-02 17:02] Xiphe commented on #39
I'm really interested in this, too.
Main points for me:
 - hide helper tasks, that are not meant to be executed by a user
 - display cli/env options

[2015-11-02 18:58] phated commented on #39
@Xiphe the first point is already supported in gulp 4 by just using plain functions instead of registering them as tasks with gulp.  The linked issue in the main gulp repo is looking for UI mockups to support the 2nd.

[2015-11-04 13:36] Xiphe commented on #39
:+1: thanks

[2015-11-10 08:54] Romanx commented on #2
@phated we consider this done or should we work on running 3.8+ and 4.0+ side by side in this ticket?

[2015-11-10 18:50] phated commented on #2
@Romanx going to leave this open as something that any one can jump into and create some tests for.  I think we are in a good place to release the 1.0 of gulp-cli with your tests added.

[2015-11-13 12:02] Theminijohn commented on #27
+1, reinstall Gulp worked for me!

[2015-11-13 17:08] vyorkin commented on #27
guys, just curious, why do you ever need gulp.babel.js? you already using babel, so just use the [require hook](https://babeljs.io/docs/usage/require/). this is easy:
* `require('babel/register')` for babel 5.x
* `require('babel-core/register')` for babel 6.x

[2015-11-17 17:00] apexskier commented on #9
If anyone's testing gulp 4 in a project and doesn't want to install gulp globally, you can reference the local gulp 4.0 with `$(npm bin)/gulp`.

[2015-11-17 18:12] phated commented on #9
Yes, we are still shipping the CLI with the main gulp package so using gulp with npm scripts is easy and doesn't require another dependency; However, if you use gulp from global at all, then installing the CLI globally avoids having to install gulp globally.

[2015-12-22 00:00] phated opened #49 "Changelog"
Would love to have a legit change log.  I'll even attach to each version in "Releases".  Anyone want to take a stab based on the commits?

[2015-12-27 15:34] doot0 opened #51 "Add CLI flag to to reload gulp on gulpfile change"
While there are a couple of workarounds for this floating around (see @tilap's example) having this feature baked in and accessible via flag would be pretty sweet.

[2015-12-27 15:37] CodeTheory commented on #51
+1

[2015-12-27 20:20] phated commented on #51
I think that this is better handled by external tools like nodemon or pm2

[2015-12-27 20:47] CodeTheory commented on #51
@phated I believe this issue is the result of a suggestion by @contra saying that gulp could probably use a flag to watch for changes within the gulpfile itself. It's probably worth a thought at least, I think a few people would like this.

[2015-12-27 21:01] phated commented on #51
Sure, but we always defer to external libraries when they do things better.  We've already added lots of flags and the more we add, the more we clash with end users flags. I personally use a --watch flag inside my gulpfiles so I wouldn't want to take over that flag in the CLI

[2015-12-30 14:25] sttk commented on #2
@phated I wrote some unit test codes for `logTasks`, for PR #50. They are placed in [my repository](https://github.com/sttk/gulp-cli/tree/test_for_gulp_tasks/test/logTasks).

However, they are written in my own way. Are there an unified way and a location rule for unit test codes?

[2016-01-05 02:02] gajus opened #54 "Use package.json bundledDependencies or bundle-dependencies"
`gulp-cli` is going to be installed only as a devDependency or as a global module. It would make sense to optimise the installation time. Consider using https://docs.npmjs.com/files/package.json#bundleddependencies or https://github.com/gajus/bundle-dependencies. Either would cut-off a lot of time from the install.

[2016-01-11 13:58] metalim opened #55 "4.0 branch for gulp 4.0?"
Does it really matter which branch of gulp-cli do I use with gulpjs/gulp#4.0 ?

4.0 branch has version number 0.4.0 and libs for gulp 4.0 alpha 1 and 2
master branch has version number 1.1.0 and libs for gulp 4.0 alpha 1, 2 and release.

Is branch 4.0 redundant now?

[2016-01-11 16:38] phated commented on #55
Yeah, you should be using the published version. I left the branch around in case people had it as a dependency. I will clean it up at some point. I'll leave this open until then.

[2016-01-11 20:38] erikdonohoo opened #56 "Can't Run Coverage Tests"
Hey, locally I have modified the `coveralls` script to be `lab -r lcov >> lcov.info` just to see the coverage that it produces and everytime I see this error:

[code]

Is there something I am missing here?  I am looking at your code as an example of how to test a node CLI tool.  I'm reading up and `lab` and `code` but do you have any ideas just by looking at this?  I am using `nvm` on my machine f

[2016-01-11 20:42] phated commented on #56
You can't get coverage out of the current tests we have.  We use `child_process.exec` to shell out to CLI calls.  I wouldn't use the way this library is tested as an example for how to write CLI tests, but I also don't have any other suggestions.

[2016-01-11 20:42] #56 closed

[2016-01-11 22:36] erikdonohoo commented on #56
Ok, thanks anyway

[2016-01-12 01:56] phated commented on #54
Interesting project.  I will consider this but we'd also have to add `node_modules` to the package.json `files` array, I think.

[2016-01-14 19:03] ischneider opened #237 "potential for black-holing log messages via transitive dependency on gulplog"

[2016-01-31 20:35] phated commented on #39
Due to an great design by @tylersticka and amazing work by @sttk - we now support this in gulp-cli v1.2.0

You can find the docs at https://github.com/gulpjs/gulp-cli#custom-metadata

[2016-01-31 20:35] #39 closed

[2016-01-31 20:42] phated opened #57 "Apply --depth flag to --tasks-json flag output"
In 1.2.0, @sttk added a `--depth` flag to gulp-cli; However, we didn't apply it to the `--tasks-json` flag to reduce the exponential growth as described in https://github.com/gulpjs/gulp/issues/1033

@sttk If you or anyone else would like to expand on the functionality you added for `--depth` and apply it to `--tasks-json`, that would be super helpful.

[2016-02-02 09:18] Xiphe commented on #39
love it!

[2016-02-02 14:35] simonua commented on #39
User error, I'm sure, but I can't seem to get this to work right. Could you please shed some light on what I am doing wrong? Thank you and thanks for getting this feature added to the CLI!

    var gulp = require('gulp');

    gulp.task('cat', function cat(done) {
        cat.description = 'I am a cat.'
        cat.flags = {
            '--makeNoise': 'Instruct me to meow occasionally.'
        };

[2016-02-02 14:41] sttk commented on #57
@phated I'm willing to tackle this also, but I have a question.

There are cases that `--depth` cuts child tasks of series/parallel tasks. Are the json data of such series/parallel tasks useful?

I think `--tasks-json` should be able to output in two type forms, a full tree and a tree until first child tasks which are not series/parallel tasks. And the latter form would be possible if gulp-cli can

[2016-02-02 15:09] sttk commented on #39
@simonua Thank you for the check.

The function `cat` is not set its `description` and `flags` unless it is executed.

You can show the description and flags by the code below:
[code]

[2016-02-02 20:29] simonua commented on #39
@sttk Thank you for clarifying. The syntax for the function makes sense to me now and aligns with the CLI documentation. It wasn't intuitive to me to invoke the function, so thank you for pointing that out. Did I just miss this completely in the CLI documentation or is it not there?

[2016-02-02 20:32] simonua commented on #39
Also, and this may be irrelevant, but I see symbols in front of the description property. I tried this in a regular Windows console and ConEmu. I used your code.

![task list console issue](https://cloud.githubusercontent.com/assets/8005145/12763367/02fe6a94-c9c2-11e5-9bd2-b805a0a5efe5.png)

[2016-02-02 20:55] phated commented on #39
Don't set the properties inside the function. Just assign them to the function after definition. Yes, the ... is part of the design.

[2016-02-02 21:13] simonua commented on #39
@phated Thank you. That allowed me to drop the function invocation, making this a bit more intuitive and natural IMHO. @sttk Nice touch on ordering the flags in the output for `gulp -T` even though I did not order them in my object. +1 for UX.

    var gulp = require('gulp');

    gulp.task('cat', cat);
    gulp.task('dog', dog);

    function cat(done) {
        done();
    }

    function dog(do

[2016-02-02 22:29] Xiphe commented on #39
to avoid misunderstandings, this is how the function should be decorated:

[code]

[2016-02-02 22:46] Xiphe commented on #49
I recently fell in love with [semantic-release](https://github.com/semantic-release/semantic-release).

They write the changelog into the [github releases view](https://github.com/gulpjs/gulp-cli/releases) which is even better than an `changelog.md` file imo.
They use the [AngularJS Commit Message Conventions](https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit) bu

[2016-02-02 23:16] contra commented on #49
We should copy the same thing we use for vinyl/vinyl-fs

[2016-02-03 12:47] sttk commented on #39
And this way is also OK for no name function.

[code]

[2016-02-03 12:51] sttk commented on #57
However, it may be better that `--tasks` and `--tasks-json` can output same trees by `--depth`. How do you think about my idea below?

[code]
[code]
[code]

[2016-02-03 12:58] simonua commented on #39
@sttk, @phated, @Xiphe Thank you / Vielen Dank! I appreciate the insight and got the answers I needed. I'm sorry to piggy-back on this "issue" with implementation questions as there may have been more appropriate places to do that. It may be beneficial to carry some of these examples or info back into the gulp-cli 1.2.0 documentation if you feel it would make it clearer. Either way, thanks again!

[2016-02-03 23:23] phated commented on #39
Added a full usage example in the [custom-metadata](https://github.com/gulpjs/gulp-cli#custom-metadata) section.  Going to lock this so it doesn't gain extra noise (the last few comments should have cleared up any confusion).  Thanks everyone.

[2016-02-03 23:25] phated commented on #57
@sttk thanks for working on this.  All the information I have is at https://github.com/gulpjs/gulp/issues/1033 - I'll cc @segrey here to give more insights on how he needs this to be for IDE integration.  Thanks again.

[2016-02-05 23:31] sttk commented on #57
First, I've modified that `--tasks-json` outputs same trees as current `--tasks` using `--depth` flag.

[sttk/gulp-cli#modify_for_tasks_json](https://github.com/gulpjs/gulp-cli/compare/master...sttk:modify_for_tasks_json)

Modifications:
  * `copyTree` was separated from `logTasks` except sorting tasks and node creations.
  * changed the processing for `--tasks-json` in each `index.js` of the vers

[2016-02-06 08:59] sttk commented on #57
In addition, I've added modifications to support `--depth=nonrecursive`.

[sttk/gulp-cli#modify_for_tasks_json_norcr](https://github.com/sttk/gulp-cli/compare/modify_for_tasks_json...sttk:modify_for_tasks_json_norcr)

But this program identifies series/parallel tasks by their labels `<series>` or `<parallel>` tentatively. For this I want to modify **undertaker** to include `branch` flags in its ta

[2016-02-06 16:53] phated commented on #57
@sttk at first thought, that should be fine.

[2016-02-06 20:39] segrey commented on #57
@sttk thanks for working on this. Seems `--depth=nonrecursive` does exactly what's needed. As for naming, maybe `--depth=compact`?

[2016-02-07 03:24] sttk commented on #57
Thank you for replies.

@phated Please tell me problems you think about my second thought above.

@segrey I've changed the naming of `--depth=nonrecursive` to `--depth=compact`.

[2016-02-08 18:54] phated commented on #57
@sttk does it make sense to just make everything non-recursive and change the color or use some other indicator (maybe @tylersticka could help us brainstorm that design).  There are a few issues, including #1410 and #1033, that mention this problem.  Also, I don't really like making a numerical flag take some other value.

[2016-02-09 00:43] tylersticka commented on #57
Boy, this is a tough problem to solve! I'm using @phated's [example from the other issue](https://github.com/gulpjs/gulp/issues/1033#issuecomment-94957927) as a point of reference.

I initially took @phated's suggestion and tried playing with color, but the issue is that if you have two `gulp.series` or `gulp.parallel` groups one right after the other, there's no way to differentiate where one gro

[2016-02-09 01:18] phated commented on #57
It's not too clear what the parallel and series tasks are.  Maybe `(series)` or `(parallel)` could come after the top level task name?  e.g. `build (series)`

[2016-02-09 14:01] sttk commented on #57
@phated ...I might misunderstand "at first thought" in your saying.

I received your saying that first thought, which is to apply current `--depth` flag, was fine (but second thought, which is to add `--depth=non-recursive`, was not fine). Was that meaning like "at first glance" or "at first sight"? (Or didn't I misunderstand? You said "I don't really like ...".)

...Sorry. My english skill is poo

[2016-02-09 14:08] sttk commented on #57
Should I send a PR of  #modify_for_tasks_json, or add a new option for non-recursive?

[2016-02-09 20:49] phated opened #59 "function.displayName support in exports caused a common case to break"
The common case is `export const dist = series(clean, css);` which is broken because series/parallel get displayName attached.  Ref https://github.com/gulpjs/gulp-cli/commit/b7da669f8e9454f6b27da8afada04392797ef396#commitcomment-15987378

[2016-02-09 20:50] phated commented on #59
Reverted and fixed by https://github.com/gulpjs/gulp-cli/commit/0af0e01f3e605f86b77e1f7909a709e16be38796 and regression test added.

[2016-02-09 21:01] phated commented on #59
Published as 1.2.1

[2016-02-09 21:01] #59 closed

[2016-02-09 21:05] phated commented on #57
@sttk sorry, I meant surfacing the branch flag would be fine.  I'd like to figure out if we can make "non-recursive" the default and only behavior before we go about adding it as part of the flag.  If we can communicate everything concisely in the `--tasks` UI in a non-recursive manner, I'm okay with making that the only way things are displayed.

[2016-02-09 21:13] CodeTheory commented on #59
Thanks for fixing this! :smile:

[2016-02-09 21:16] phated commented on #59
No problem.  Wanted to track it in an issue too.

[2016-02-09 22:21] segrey commented on #57
@phated I think it makes sense to have the only behavior. Alternative idea could be to have `--tasks-json=top` (without dependencies of top level tasks) and `--tasks-json=full` (the same as `non-recursive`). The same can be applied for `--tasks`.

[2016-02-09 22:23] phated commented on #57
@segrey `--tasks-json` already takes a path argument to output to the filesystem.  I don't want to overload the flags.

[2016-02-09 22:32] segrey commented on #57
@phated Oops, sure. Then it can be `--depth=top`, `--depth=full`.

[2016-02-09 22:44] phated commented on #57
@segrey depth is currently a number and I think the number makes more sense because you can specify the depth you are looking for.

[2016-02-09 22:54] segrey commented on #57
@phated I'm okay with current behavior (when depth is a numerical flag). IIUC, you'd like to not mix number and string values (e.g. `--depth=1` and `--depth=non-recursive`). FWIW, an alternative option could be to have string values only.

[2016-02-09 22:59] tylersticka commented on #57
Hmm... I don't love that idea because I'm not sure how it would scale to series or parallel tasks that _follow_ a series or parallel task. Would it concatenate, saying `build (series) (series)`?

Here's a simpler idea... restoring the cyan coloring to child tasks, but retaining the gray for the `series` and `parallel` headings:

![screen shot 2016-02-09 at 2 57 10 pm](https://cloud.githubuserconte

[2016-02-09 23:07] phated commented on #57
@tylersticka The output for the above doesn't seem correct.  "combined" has 3 children - "clean", "parallel" and "series" but no indicator of how those children are executing.

I think the 2 things that need to be tackled are:
1. parallel and series clutter the task listing but have crucial information on how things are executing - this is the one you are currently mocking up
2. If a child task is

[2016-02-09 23:18] tylersticka commented on #57
Thanks, @phated !

You're right, there would be a "series" heading at the beginning based on [what I was referencing](https://github.com/gulpjs/gulp/issues/1033#issuecomment-94957927). Your suggestion makes more sense to me now.

Can you provide an example for me (or link to a pre-existing one in this thread)? I'm sure you're explaining it accurately but I feel like I'm still not understanding com

[2016-02-09 23:24] phated commented on #57
@tylersticka np, I am really happy to have someone with an eye for design helping on these problems.  The best place to look for an example is the base issue at https://github.com/gulpjs/gulp/issues/1033 - it shows how the output grows exponentially for some given gulpfiles

[2016-02-09 23:40] TrySound opened #60 "Continue flag fails.. many times."
Here's when I run `dev` task with continue flag
Seems like it just log that error on every dependent task.
[code]

[2016-02-09 23:41] TrySound commented on #60
Also are these details correct?
[code]

[2016-02-09 23:43] TrySound commented on #60
Without continue is pretty normal like here
https://github.com/gulpjs/undertaker/issues/59

[2016-02-09 23:54] phated commented on #60
Domain properties are a duplicate of https://github.com/gulpjs/gulp/issues/1329 - feel free to dig into that issue.

This output looks correct but I'd have to see your gulpfile to fully verify.  Wondering if you are using an old version of gulp-cli because in newer versions, we only log an instance of an error once.

[2016-02-09 23:56] TrySound commented on #60
[code]

[2016-02-09 23:58] phated commented on #60
Then each task is errorring with a different instance - see https://github.com/gulpjs/gulp-cli/blob/master/lib/versioned/%5E4.0.0/log/events.js#L40 for where we filter out error logging.  Closing this as it doesn't seem like a bug.

[2016-02-09 23:58] #60 closed

[2016-02-10 00:05] TrySound commented on #60
Here's my gulpfile
https://github.com/TrySound/case/blob/3.0/gulpfile.js
Why you think it's not a bug? `--continue` flag should continue, but build is failed.

[2016-02-10 00:08] tylersticka commented on #57
@phated Just read through gulpjs/gulp#1033 again. It's a bit difficult for me to parse, but it _sounds_ to me like what we'd like to do is visualize when a task is being called _repeatedly_ within the same task... so if task `a3` calls task `a1` and `a2`, but task `a2` _already_ calls `a1`, we would highlight that duplicate.

If that's the case, I feel like coloring the duplicate tasks _red_ would

[2016-02-10 00:11] phated commented on #60
Everything completed.  Take a look at the output, you are no longer receiving "Task did not complete" warnings and every parallel task has been completed.  Upon completion, if there was an error, we `process.exit(1)` but we wait until every task is done.

[2016-02-10 00:15] TrySound commented on #60
@phated Yeah. You are right. Okay, `continue` bubbles errors in dep tree. But.. why the output is different? In first case stack trace is hidden in the dependent tasks not.

[2016-02-10 00:19] phated commented on #60
The error object is printed the first time it is emitted, then it is added to the list of logged errors and not logged again for the higher order functions (instead they just say "<task> errored")

[2016-02-10 00:22] TrySound commented on #60
Looks ugly and useless don't u thnk? Maybe somehow filter or log just error message? This will minify ouput a lot.

[2016-02-10 00:24] phated commented on #60
No, we aren't going to remove stack traces.  They help with debugging.  If you want to help on the domain issue to clean up that clutter, feel free.

[2016-02-10 00:32] TrySound commented on #60
@phated Those stack traces doesn't make sense at all. All details are in the first log. Next loggin can just show `error is here`, but details will be above. What is the reason to duplicate the same and the same messages?

[2016-02-10 13:33] sttk commented on #57
@phate Sorry, and thanks about `branch` flag.

I'm also happy to communicate with you guys. (There are time differences among us, though.)

[2016-02-10 13:37] sttk commented on #57
I think good to add a new option like `--tasks-xxx` for this "non-recursive".
"non-recursive" could put at the same level as `--tasks` and `--tasks-simple`.

[2016-02-10 13:48] sttk commented on #57
About option adding or naming, I think we should consider the option of unsorting top tasks together, which is proposed by @erikkemperman in #50. This helps users to check and comprehend tasks just as they wrote.

I intended to add an option value `--tasks=unsort` for this, because sorting top tasks is not needed for `--tasks-json`.

[2016-02-10 14:27] sttk commented on #57
Oops, `--tasks-xxx` above is only for displaying.

And `--tasks-json` may have only to support "non-recursive".

[2016-02-11 11:17] sttk commented on #57
(Sorry for continuing my posts.)

I created [a sample program](https://github.com/sttk/samples_for_gulp-cli/tree/hide_branch_tasks) to hide series/parallel tasks in outputs of `--tasks`. (But I don't think that hiding is better, though.)

[code]

[2016-02-14 22:35] louisremi opened #61 "gulp --tasks doesn't print description with gulp 3.X"
I implemented support for printing task description to the console a while ago (see #19 ). I added support for this property both on branch master and 4.0.
I just tested this feature today and realized that, when using gulp 3.X, task descriptions never print to the console. Looking at the code a bit, I realized that the code responsible for logging the task-tree in Gulp 3.X is located in the `gulp

[2016-02-15 10:06] louisremi commented on #61
Not sure exactly what went wrong: today I reinstalled gulp-cli globally and description showed up.

[2016-02-15 10:06] #61 closed

[2016-02-26 11:19] rhendric opened #62 "Some kind of silent abort functionality"
Moving discussion here from gulpjs/gulp#1535.

I'm going to try to start from the beginning; I fear there've been more misunderstandings than effective communication on my part in the previous thread, and I want to lay all of my logic out in order hopefully to avoid more of the same. So, sorry this is a little long and somewhat redundant.

This started because I wanted a way to automatically resta

[2016-02-27 07:49] sttk commented on #57
I've reflected the addition of `branch` flag by gulpjs/undertaker#60 and separated `compact` (non-recursive) option from `depth` option in my repository:

[sttk/gulp-cli#modify_for_tasks_json_norcr](https://github.com/sttk/gulp-cli/compare/modify_for_tasks_json...sttk:modify_for_tasks_json_norcr)

[2016-02-28 03:22] sttk opened #63 "Allow customizing CLI colors through .gulprc file"
I've added customizing mechanism in gulp-cli.
And also I've made colors of a task tree customizable with this.

[sttk/gulp-cli#make_customizable](https://github.com/gulpjs/gulp-cli/compare/master...sttk:make_customizable)
- You can change the colors by `.gulprc` files in user home directory or project working directory.
- You can also change the colors with a file specified by `--customize` option

[2016-03-03 00:12] #49 closed

[2016-03-03 00:42] phated commented on #63
@sttk The first thing that I'd like to address is the `.gulprc` file.  I am all for having it, but I think we need it implemented over in Liftoff (which has been discussed before) - Check out the issue at https://github.com/js-cli/js-liftoff/issues/8 and maybe you'd be interested in implementing the rc lookup over there before submitting this PR to gulp-cli.

[2016-03-04 12:44] sttk commented on #63
@phated OK. I'll see the issue and Liftoff. And I'll try it if I can.

[2016-03-07 22:48] phated opened #65 "Add update notifier"
Is this something people like and would want?  We would use https://github.com/yeoman/update-notifier like yeoman does.

cc @sindresorhus

[2016-03-08 05:55] sindresorhus commented on #65
We've found it to help considerably for keeping people up to date in Yeoman. Users would almost never upgrade the CLI unless they hit a problem without the update notification.

[2016-03-08 08:41] Romanx commented on #65
I'm in the :+1: group here too, showing people they can upgrade is useful.

[2016-03-08 14:04] axvm opened #66 "Reference to completion readme"
It would be nice if gulp-cli/readme will contain reference to [completion readme](https://github.com/gulpjs/gulp-cli/blob/master/completion/README.md)

Might be useful for everyone.

[2016-03-08 14:42] Romanx commented on #66
I wasn't aware that was a thing so :+1: from me

[2016-03-08 18:54] phated commented on #66
@avxm that doc should actually be moved here. Can you send a PR?

[2016-03-08 19:06] axvm commented on #66
@phated sure

[2016-04-05 02:28] phated opened #69 "Implement .gulprc support"
Implement through use of https://github.com/js-cli/js-liftoff/issues/8 which has outstanding PR at https://github.com/js-cli/js-liftoff/pull/67

[2016-04-05 02:29] phated commented on #63
Changed the title here.  Also split the .gulprc file to issue https://github.com/gulpjs/gulp-cli/issues/69

[2016-04-05 02:33] phated opened #70 "Support gulpfile description through use of .gulprc file"
Must wait for #69 to be implemented.

Moved from https://github.com/gulpjs/gulp/issues/1534

I'm envisioning this as a `description` property in the .gulprc file that replaces https://github.com/gulpjs/gulp-cli/blob/master/lib/versioned/%5E4.0.0/index.js#L57, https://github.com/gulpjs/gulp-cli/blob/master/lib/versioned/%5E4.0.0/index.js#L49 and https://github.com/gulpjs/gulp-cli/blob/master/lib/ve

[2016-04-05 02:42] phated commented on #57
@sttk is this worth sending as a PR or are you planning to make some more changes?

[2016-04-05 02:45] phated opened #71 "Support flags as options in .gulprc file"
The flags should be able to be defaulted in the .gulprc file so people can rely on gulpfiles running in a certain way.  e.g. running with a certain log level

[2016-04-05 02:57] phated opened #72 "Batch logging to avoid mixing logs from async code"
Ref https://github.com/gulpjs/gulp/issues/361

[2016-04-05 03:28] phated opened #73 "Install bash completion under bash_completion.d/"
Moved from https://github.com/gulpjs/gulp/issues/574

[2016-04-05 03:30] phated opened #74 "Provide source file path for tasks in `gulp --tasks-json` output"
Moved from https://github.com/gulpjs/gulp/issues/1180

[2016-04-05 15:45] sttk commented on #57
@phated I have no more changes. I've send the PR about this issue.

[2016-05-15 07:18] adam-moss opened #78 "`snyk` reports vulnerabilities in devDependencies"
I have raised PR #77 to update dependencies and include `snyk` as part of the default test suite for vulnerability checking.

Normally I would `snyk test --dev` to ensure devDependencies are included (since this mirrors the default behaviour of `npm install` without the `--production` flag) however this would cause a failure as a number of vulnerabilities are present.

As these are principally rel

[2016-05-16 19:48] phated commented on #78
Thanks for submitting this.  However, I don't think snyk is necessary because this shouldn't be used in production code where vulnerabilities can be exploited.

[2016-05-16 19:48] #78 closed

[2016-06-10 16:53] erikkemperman opened #80 "Should index.js be executable?"
Building a tool with separate core and cli, I was looking at gulp and gulp-cli (4.0 branches) for an example. I noticed that `gulp-cli/index.js` has a shebang line and executable mode, but I can't figure out why...

The script exports a function, running it with `./index.js` doesn't really do anything, it seems to me. Is there something clever going on here, or is this maybe a leftover of an earli

[2016-06-11 04:09] phated commented on #80
The `index.js` file should be like that.  The executable lives in `bin/gulp.js` as described at https://github.com/gulpjs/gulp-cli/blob/master/package.json#L16

You are correct about gulp proper, but also if you do a local install of gulp and use the `gulp` command in your npm-scripts (which I and much of core does instead of a global install), it hoists your local bin files to your path and I did

[2016-06-11 04:09] phated commented on #80
Sorry, mistype in the first sentence. Edited

[2016-06-11 09:25] erikkemperman commented on #80
Created a PR for index.js -- sorry about the triple commit refs here, force-pushed twice to restart Travis. There were failing tests due to a change in Undertaker, tacked a fix for that onto the PR.

[2016-06-13 21:09] #66 closed

[2016-06-13 21:10] phated commented on #55
Finally deleted these after much confusion by people.

[2016-06-13 21:10] #55 closed

[2016-06-14 20:02] straker opened #83 "When was the 4.0 branch deleted?"
I can't find any docs on this, but before to install gulp#4.0 you'd have to install the gulp-cli#4.0 branch globally. However, there is no more gulp-cli#4.0 branch. I don't see in the changelog or any merge's that brought it into master. Is there a new pattern for install gulp#4.0 that we should be following?

[2016-06-14 20:11] phated commented on #83
It has been in master forever.

[2016-06-14 20:11] #83 closed

[2016-06-16 00:36] #80 closed

[2016-06-24 21:30] kshitijbahul opened #84 "gulpInst.start.apply(gulpInst, toRun); TypeError: Cannot read property 'apply' of undefined"
I have the following entry in my package.json file
"gulp": "github:gulpjs/gulp#4.0"

i ran npm install -g "gulpjs/gulp-cli#4.0" and it gives me and error `fatal: ambiguous argument '4.0': unknown revision or path not in the working tree.`

Here is the error I get when I run gulp
**gulp
[02:49:31] Using gulpfile ~/Documents/XXXX/gulpfile.js
/usr/local/lib/node_modules/gulp/bin/gulp.js:129
    gulpI

[2016-06-24 21:32] phated commented on #84
No idea why you are trying to install a branch that doesn't exist.  Duplicate of https://github.com/gulpjs/gulp-cli/issues/83

[2016-06-24 21:32] #84 closed

[2016-06-24 21:35] kshitijbahul commented on #84
npm install -g "gulpjs/gulp-cli#4.0" was given as a solution for the issue
gulpInst.start.apply(gulpInst, toRun);
^

TypeError: Cannot read property 'apply' of undefined

Could you let me know how should I get past this then ?

[2016-06-24 21:37] phated commented on #84
https://www.npmjs.com/package/gulp-cli

[2016-06-24 21:59] kshitijbahul commented on #84
I did everything mentioned there
npm install gulp-cli and even tried adding "gulp-cli": "github:gulpjs/gulp-cli"  to my package.json but i still get the issue

gulpInst.start.apply(gulpInst, toRun);
                  ^

TypeError: Cannot read property 'apply' of undefined

[2016-06-24 22:22] phated commented on #84
Please read the docs: https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md

This is not a support forum.

[2016-06-27 10:29] james-nash opened #85 "--tasks-json is broken when using Gulp 3.9.1"
Since switching to `gulp-cli`, I've noticed that the `--tasks-json` switch no longer works on projects that use 3.9.x versions of gulp.

### Expected result
Running `gulp --tasks-json` outputs a list of the tasks in JSON format.

### Observed result
Running `gulp --tasks-json` just starts the default tasks (as if the `--tasks-json` was not there)

### Steps to reproduce
1. Install `gulp-cli` on yo

[2016-06-27 17:53] phated commented on #85
As noted in the documentation, not all flags are supported. The orchestrator code base is a mess and I don't know of a way to get a task listing from it. Feel free to submit a PR if you can figure it out.

[2016-06-27 17:53] #85 closed

[2016-06-29 09:37] koenoe opened #86 "4.0 branch"
Where is the 4.0 branch?

[2016-06-29 09:41] #86 closed

[2016-07-13 01:08] mderoche commented on #84
@phated, why the persistent rudeness?  Numerous pages across the web give `npm install -g "gulpjs/gulp-cli#4.0"` as a solution to this problem.  His question is completely valid.

[2016-07-18 17:57] mbabauer opened #88 "options shown at CLI --help seem to disappear when you use them"
I have been struggling to get gulp to work in WebStorm 2016.1.3 because it's trying to use either a `--no-color` option when it resyncs the task list or a `--color` option when it runs the app.

I have the following versions installed:
node: 5.7.1
gulp: 3.9.1
gulp-cli: 1.2.1

When I run the following:
[code]

I get a listing that shows a lot of options, included the two mentioned above:
[code]

No

[2016-07-18 21:37] weswigham opened #89 "Set `cwd` before enabling require hooks"
[Moved from liftoff](https://github.com/js-cli/js-liftoff/issues/78#issuecomment-233461979)

@phated Says the change would alter [these lines](https://github.com/gulpjs/gulp-cli/blob/master/index.js#L131-L137), but I'm under the impression that it would actually be a bit more, since the issue is that the cwd needs to be changed roughly in the middle of `buildEnvironment` (just before register hook

[2016-07-18 21:45] phated commented on #89
Digging deeper, it seems that rechoir should already be doing this.  See https://github.com/js-cli/js-rechoir/blob/master/lib/register.js#L6-L7

[2016-07-18 21:48] weswigham commented on #89
It's setting `basedir` when resolving the module, but not actually doing `process.chdir` to alter the results of `process.cwd` within the things it requires.

[2016-07-18 21:48] weswigham commented on #89
So... ultimately an issue on `rechoir`, then?

[2016-07-18 21:57] phated commented on #89
It shouldn't need to change the directory because it is manually resolving the module.  Using the `resolve` module, it changes 'coffee-script' into '/User/phated/project/node_modules/coffee-script/index.js' (or something like that) and then we require that.  If you are having problems, you can insert a `console.log` there to find out what you environment is resolving to.  I think you need to do so

[2016-07-18 22:04] weswigham commented on #89
No no no, the module is successfully resolved. But the _code within the module expects process.cwd() to be set correctly_.

[2016-07-18 22:31] phated commented on #89
They should adopt a pattern like babel instead of us bending to their terrible pattern. Thanks for digging into this.

[2016-07-18 22:31] #89 closed

[2016-07-21 13:46] mbabauer commented on #88
Anyone know what is going on here?  I tried nuking all the packages under node_modules and re-installing via `npm`, but it didn't change anything.

[2016-07-27 20:01] phated commented on #69
Support for this in Liftoff was just published as 2.3.0

@sttk would you like to implement it for gulp?

[2016-07-28 14:36] sttk commented on #69
@phated Yes, I'd like to implement it.

I want to use key chain style for gulprc as below, but it is not popular as a configuration file. Can I use this style and the module [customerizer](https://github.com/sttk/customizer.git) for this?

[code]

[2016-07-28 22:55] phated commented on #69
@sttk I don't think the configuration file needs to be that complex.  I also think that attempting the implementation with the most simple thing first is the correct approach (so don't start with colors).  I think the easiest thing to support would be a top level `description` property as outlined in #70.  The `.gulprc` would then look like:
[code]
It could also be a node module that used `module.

[2016-07-30 00:18] sttk commented on #69
@phated I got it. And I agree that we should start with the most simple configuration.

`require` and `rechoir` can't get the extension `"rc"` from filename `".gulprc"`. So they loads the file as a js file.

For autoloading `.gulprc` with `rechoir`, we need to do follwing two things:

1. Create a new loader for JSON file. This code would do a thing like `module.exports = JSON.parse(fs.readFileSync

[2016-07-30 00:28] sttk commented on #69
@phated Can I change `rechoir` as above?

[2016-07-30 00:39] phated commented on #69
Oh, you are right that `.gulprc` won't work out of the box with require. Let's just support `.gulp.js`, etc (all the extensions we already support).

[2016-07-30 00:49] sttk commented on #69
I got it. I'll implement so.

[2016-08-06 06:08] sttk commented on #69
@phated I determined that the configuration file name is `.gulprc.*`, and I'm planning the following features about the configuration file.

- [ ] Load and merge configuration files in home directory, project directory, current work directory if exists.
- [ ] Print configurations in JSON format by `--output-config` flag.
- [ ] Load and merge configuration files by `--config` or `-c` flag.
- [ ] Ig

[2016-08-06 06:12] sttk commented on #69
And I implemented the first and second check items in my repository.

[sttk/gulp-cli#support_gulprc](https://github.com/sttk/gulp-cli/tree/support_gulprc) ( [Comparing changes](https://github.com/gulpjs/gulp-cli/compare/master...sttk:support_gulprc) )

Please point out about the features, the implementations, etc.

[2016-08-10 14:16] sttk commented on #69
@phated I've implemented all features above.

[2016-08-10 17:20] phated commented on #69
@sttk please submit a PR, I think some of the stuff might be added complexity but I'd like to see it all together first.

[2016-08-10 22:25] sttk commented on #69
@phated I've sended the PR #90 about this issue.

[2016-08-11 08:28] MartinMuzatko opened #91 "gulp-cli setup messes with npm installs"
Hi there!
I'm really not sure what is going on here. It looks like gulp-cli somehow broke the internet.

I can't install anything anymore and I'm not sure if this project is involved with the problem. Please have  a look on the issue below and let us know whether or not gulp-cli has anything to do with this or not.

Whenever I install a package (with a certain set of packages installed(?)) I get t

[2016-08-11 09:37] MartinMuzatko commented on #91
Figured it out:

Some package used gulp 4.0 alpha2
Which depends on gulp-cli#4.0

[2016-08-11 09:37] #91 closed

[2016-08-16 02:29] postor commented on #84
use local gulp-cli can make it run
`node ./node_modules/gulp/bin/gulp.js`

[2016-08-22 21:56] #69 closed

[2016-08-22 21:56] #70 closed

[2016-08-22 23:52] phated commented on #88
Unable to duplicate this.  It is not advisable to install gulp-cli locally alongside an old version of gulp.  It is made to be installed globally (and included as a dependency of gulp 4).  This is either a problem caused by that or something webstorm is doing.

[2016-08-22 23:52] #88 closed

[2016-08-22 23:54] phated commented on #71
@sttk if you plan to implement more features in `.gulp.*`, start with this one before attempting #57 or #63

[2016-08-23 12:44] sttk commented on #71
@phated Since the configs are merged with `opts`, the flags are already able to be configured with `.gulp.*` files.

But those values aren't checked at all. Are the checks needed and are there any flags forbidden to configure with `.gulp.*` files?

[2016-08-23 21:21] phated commented on #71
@sttk oh, I don't think that's the way I wanted it to work.  `flags` should be a property that gets merged into the flag options.  How should we handle this?

[2016-08-23 21:36] phated opened #92 "Restrict config properties that are merged into opts from .gulp.* files"
@sttk I created this issue based on https://github.com/gulpjs/gulp-cli/issues/71#issuecomment-241882995

I'd like to keep the top-level properties restricted so they don't conflict in the future. e.g. a `--description` flag that does something different than the configuration `description` property.

Do you agree?

[2016-08-24 12:16] erikkemperman opened #93 "Config option to multiple command-line tasks in series"
It isn't really explicitly documented that commandline tasks will be run in parallel, unless I missed something... But I guess users of almost any other build tool would expect them to be done in series. E.g., `gulp clean build` seems like a common scenario.

So I was wondering:
- should the default be to run commandline tasks in a `series` call, instead?
- if not, should there maybe be an option

[2016-08-24 20:25] sttk commented on #92
@phated Sorry for my thoughtless. Certainly cli flags should be distinguished from config properties. I agree.

[2016-08-24 22:05] phated commented on #93
The concept of gulp has always been to run everything at "maximum concurrency" and I think that is the proper behavior to propagate to the CLI.  The recommended way to run gulp is with a single task (or, more likely, none for `default`), even though we support multiple.  I agree that this could be documented better (like __many__ things in gulp).

I'll leave this open incase others have opinions.

[2016-08-24 22:10] contra commented on #93
Yeah, we should document this better. The right way to do this would be a new task that runs those two in series, but I could see how this is confusing.

That said, I don't think a flag would be terrible here to reduce boilerplate.

[2016-08-24 22:13] phated commented on #93
We are kinda going overboard with flags.  Maybe this could be configurable in the new `.gulp.*` configuration files.

[2016-08-25 04:50] erikkemperman commented on #93
Yeah, coming from gulp3 I guess it won't be unexpected, but now that there's undertaker in place of orchestrator people have to compose with series/parallel explicitly anyway, and I thought it might make sense to extend that to the top (cli) level.

Coming from any other build tool it might cause some confusion initially.

Of course ai can just make special tasks -- actually looking at some clutte

[2016-08-25 14:20] sttk commented on #92
I'd like to change this to use the specification object like `lib/shared/cliOptions.js` for cli flags. The implementation image is as follows:

[code]

And I think it's good to pass the config object to versioned `index.js` (`lib/versioned/*/index.js`) instead of `opts` in the future, but it will now be passed the config as another argument temporarily.

[code]

What do you think about this?

[2016-08-25 18:59] phated commented on #92
@sttk I think it is fine to continue to merge with `opts` but I don't think `.gulp.*` and `opts` should have the same shape.  I'm fine with adding helper methods.  I think we need to do something similar to `lodash.pick` but for deep properties, like `pick(require(filePath), ['description', 'flags.continue', 'flags.silent', 'flags.logLevel', ...])`. Thoughts?

[2016-08-25 19:21] phated commented on #93
@erikkemperman I typically defer "conditional" tasks (like clean) to flags and then have code that generates the sequence inside the gulpfile.

[code]

[code]
Or something similar.

Deferring to bash is also a good idea but the CLI startup time might be really slow (not sure).

[2016-08-25 20:06] erikkemperman commented on #93
Ah, that's a nice pattern. No wonder you're hesitant to have the cli claim options 👍

Yes, I'd expect node startup overhead twice with `&&`, which is unfortunate.

I hadn't looked at the new config file support before, nice!

Sorry for off-topic, but is it silly to expect that to work like `.editorconfig` and traverse up from current directory looking for config files? It might be handy for multi-

[2016-08-25 20:10] phated commented on #93
We aren't currently supporting traversal but we support merging config from `cwd` and from home.

[2016-08-25 20:15] phated commented on #93
We __just__ added the config file stuff (it hasn't even been released yet), so there's no hard rule on what belongs where.  All CLI flags will be able to be defaulted in the config file but I don't want to add lots of CLI flags if it makes sense to be part of a config file.  My initial thoughts are "if you would have to abstract the gulp command behind an npm-script, e.g. `gulp clean build --serie

[2016-08-25 20:26] erikkemperman commented on #93
I was thinking a guideline might be, is this thing specific for the project, or for just the next build I want to trigger? Or is that basically what you were saying?

Nice twist to have defaults for options from config, I hadn't noticed that bit yet. So I guess shouldn't think about options vs config in terms of either/or :-)

[2016-08-26 13:19] sttk commented on #92
@phated

Yes, we would need something like that. And there are `lodash.get/set` to access nested properies of an object. We would be able to use them in the helper methods.

[2016-08-26 19:33] phated commented on #92
It would be easiest to have an array of paths but I wonder if a config object that we merge into is better.

[2016-08-29 03:09] ElijahLynn commented on #84
Thanks @postor

I noticed my local gulp-cli version was 1.2.2 and my global version was 3.9.1. I checked NPM repo and latest suggested was 1.2.2, I have no idea how that happened but I did install gulp ages ago. I went ahead and installed gulp again globally and now I am at 1.2.2 and it works without that OP error.

[2016-09-04 15:41] sttk commented on #92
I've implemented for this issue and sended it to PR #94.

[2016-09-07 15:17] JustinTullgren opened #95 "local gulp as transitive dependency not found when in a shrinkwrapped direct dependency"
Hi,

We have a 'build' npm package that wraps gulp.  This package has two business goals: to control the versions of build dependencies (like gulp, gulp help, gulp debug, less, eslint, webpack, etc) and to provide a common set of tasks to a dependent package.  The tasks are built using convention over configuration but we do allow for extension by exposing the gulp instance and the configuration o

[2016-09-07 17:50] phated commented on #95
Like you said, this is an npm behavior and we can't really work around it.  You might be able to do some hacky things with the `--cwd` CLI flag but I'm not sure what that would look like.

We are attempting to solve the shared build logic with Custom Registries in gulp 4 (not yet released), but it seems like you are still using 3.9.1 so that doesn't really help the current situation either.

[2016-09-07 17:50] #95 closed

[2016-09-19 07:37] jacksky007 commented on #84
I suffered the same issue in this case: install node and gulp(3.x) first, then remove node and install nvm instead, then install gulp-cli and gulp(4.0). After I removed the old gulp in <code>/usr/local/bin</code>, everything works.

[2016-10-09 22:25] no1melman opened #96 "Installed Gulp CLI but it won't run gulp"
So I did completely fresh install

Then created simple `gulpfile.js`

[code]

Then executed

But obviously if I install `gulp` then it's not going to work because only `gulp-cli` has `series` and `parallel` functions

What is the issue here?

---

Does it require me to pull down 4.0 branch from gulp???

---

So I cloned `git clone https://github.com/gulpjs/gulp.git --branch 4.0 --single-branch` an

[2016-10-10 10:43] heikki commented on #96
https://github.com/gulpjs/gulp/blob/4.0/docs/getting-started.md

[2016-10-10 10:52] heikki commented on #96
Fairly recent instructions here: https://www.liquidlight.co.uk/blog/article/how-do-i-update-to-gulp-4/

[2016-10-10 14:46] no1melman commented on #96
Yeah that's where I got the idea for cloning from, mainly because

Failed for me with some horrible errors about authentication etc..

[2016-10-11 05:35] phated commented on #96
not sure why you have that in single-quotes.  gulp has __always__ required a local version, and gulp-cli is no exception.  It's just how node works.

[2016-10-11 05:35] #96 closed

[2016-10-11 08:45] no1melman commented on #96
That may be so, but when I first installed gulp-cli I removed all gulp packages first. So it must have added them itself, now it just isn't doing that hence the question.

I copied that from the blog post, is not supposed to have single quotes then?

[2016-10-13 07:25] rajathms commented on #9
I'm new to gulp.

I'm getting the similar error  when i run gulp command

`json
"dependencies": {
     "gulp": "gulpjs/gulp#4ed9a4a3275559c73a396eff7e1fde3824951ebb",
}`

[code]

Even I tried running npm install -g "gulpjs/gulp-cli#4.0" as @heikki said

My present version is
CLI version 3.9.1
Local version 4.0.0-alpha.2

[2016-10-13 21:54] dkrutsko opened #97 "Cannot find module in AWS CentOS"
Hey there, so I'm using Gulp for a project and while it works perfectly on OSX I seem to be getting an error whenever I use Gulp on my AWS CentOS server.

[code]

[code]

[2016-10-13 21:59] phated commented on #97
Issue in a dependency - see https://github.com/floridoo/gulp-sourcemaps/issues/243

[2016-10-13 21:59] #97 closed

[2016-10-13 22:05] phated commented on #97
We've released a version of vinyl-fs (2.4.4) with gulp-sourcemaps pinned to 1.6.0 (before they started breaking everything).

[2016-11-10 20:16] xzegga commented on #9
@rajathms did you resolve your problem, I have the similar problem when I run gulp command. same versin for global and local gulp.

[2016-11-11 06:13] rajathms commented on #9
@xzegga yep I resolved it , it's working.

Bring back your **CLI version to 1.2.2**  it will support gulp 4 .

when run `gulp -v`

you should get
**[11:38:36] CLI version 1.2.2
[11:38:36] Local version 4.0.0-alpha.2**

[2016-11-12 04:31] Niceplace commented on #9
I confirm that the solution proposed by @rajathms works !

I did : `sudo npm install gulp-cli@1.2.2 -g`

[2016-11-12 05:30] noelyahan commented on #31
Issue is now they don't have a branch called now they only maintain the master "gulpjs/gulp-cli#4.0". It can be solved by simply removing the old gulp-cli globally `npm remove -g gulp-cli` and reinstall it `npm install -g gulp-cli`. It will install the latest release tag which is `1.2.2`

[2016-11-26 22:53] blakeembrey commented on #89
@phated Can you point out the pattern used in Babel to enable this?

[2016-11-28 22:06] phated commented on #89
@blakeembrey it looks like babel is broken in a subtle way at lines https://github.com/babel/babel/blob/master/packages/babel-register/src/node.js#L38-L42 - basically they store the `process.cwd()` when loaded but use it later to determine ignores.  They should be looking up `process.cwd()` each time because `process.chdir()` might have been called.

I would recommend doing the `process.cwd()` loo

[2016-11-28 22:50] blakeembrey commented on #89
@phated That is how it works, but it doesn't work here because gulp changes the directory _after_ the call to register. We need to load the configuration file **on** the call to `register`.

[2016-11-28 22:55] phated commented on #89
Why do you have to load the config file when the module is loaded?  It seems like it can be done upon the first/each require.  Babel does it inside their [`compile`](https://github.com/babel/babel/blob/master/packages/babel-register/src/node.js#L52-L57) which is called upon each extension require.  Come to think of it, that is probably what I was talking about in the past (I honestly couldn't reme

[2016-11-28 23:43] blakeembrey commented on #89
@phated That's how it works today, but the config file is required to decide whether to hook onto `.js`. The workaround is to always hook onto `.js` and just ignore it when the config file disagrees, which could work, but isn't ideal as I'm sure more people than just I will eventually run into this. See my comment from https://github.com/gulpjs/gulp-cli/issues/89#issuecomment-263090845.

[2016-11-28 23:47] blakeembrey commented on #89
Note, also, that Babel probably compiles `.js` by default. TypeScript, however, does not. This lazy load fails in that case, as `ts-node` hasn't bound itself to `.js` _before_ a `.js` file is required if no `.ts` file has ever been loaded yet.

[2016-11-28 23:51] phated commented on #89
@blakeembrey babel registers on `.js` unless you configure it to not (js-liftoff uses this config option) but it also allows you to specify `ignore`s in your config that will defer to the original require and avoid transpilation.  I believe their way is the best way to do this.

[2016-11-28 23:58] blakeembrey commented on #89
@phated I'm not sure if you're just missing the point or I am, but what exactly are you suggesting? Everything you've suggested is exactly how `ts-node` is written, but I'm going to be reverting the work soon because it's honestly too much effort and has create other bugs (such as `node --require ts-node/register script.js` can not work, because `ts-node/register` is entirely lazy to support gulp)

[2016-11-29 00:04] phated commented on #89
@blakeembrey why won't you hook the initial `.js` file?  Is that a node bug/problem?  I've not looked at the source code for `ts-node/register`, as I was just answering your questions about babel.

[2016-11-29 00:07] blakeembrey commented on #89
No, we don't want to compile JavaScript by default. We only compile `.ts` by default. We use the configuration file to decide if we should also compile `.js`. I'm not sure people would be happy if TypeScript suddenly started compiling their `.js` files (especially because it's not a TypeScript default, whereas I contrasted it to Babel where they are expected to compile `.js` so this isn't an issue

[2016-11-29 00:08] blakeembrey commented on #89
I could make a PR to https://github.com/js-cli/js-interpret to support `.js` compilation with TypeScript, but it's entirely possible it'd break some peoples projects who currently expect that not to happen and are using `ts-node` as a dev dependency.

[2016-11-29 00:15] phated commented on #89
Ah, I think we've come to the crux of it.  I'm not telling you to __compile__ upon `.js` files, but to instead register a `require.extensions` method __for__ `.js` like babel does (this should be configurable through `register({ extensions: ['.js'] })` like babel also).  You don't actually do the transpilation in the hook but instead you load the config to know whether or not the transpilation is

[2016-11-29 01:04] blakeembrey commented on #89
Right, that's what I commented here - https://github.com/gulpjs/gulp-cli/issues/89#issuecomment-263431104. It's not really ideal though, as every `.js` call will go through the loader now (e.g. it'll be in stack traces, potentially causing others issues with `.js` files to be attributed to TypeScript). Yes, it only adds overhead for the initial config file load and a tiny function call overhead to

[2016-12-21 05:04] anandchristal commented on #84
changed "gulp": "node node_modules/gulp/bin/gulp.js" in scripts:->under package.json
and also when run ....npm run gulp picked the local version

[2017-01-06 19:50] phated commented on #2
We have proper code coverage now (thanks to @sttk in #99!) so needed tests should be easier to identify. 😃

[2017-01-11 21:37] yairEO commented on #84
@anandchristal - please explain better. which `package.json`? gulp's or your own? what exactly did you change **to** what?

[2017-01-16 20:47] liratanak commented on #84
I ran into the similar issue:
[code]

I tried:

Then error just gone :-)

[2017-01-19 03:05] jchip opened #102 "unhindered support for passing arguments to tasks?"
There are some Stack Overflow questions about passing arguments to tasks:

  - http://stackoverflow.com/questions/23023650/is-it-possible-to-pass-a-flag-to-gulp-to-have-it-run-tasks-in-different-ways
  - http://stackoverflow.com/questions/28538918/pass-parameter-to-gulp-task

However, gulp-cli let yargs process the whole argv, which then somehow gather all non-hyphenated arguments into `opts._` an

[2017-01-19 04:56] phated commented on #102
It "gathers" options we have defined. We attempt to keep the flags we define minimal to avoid clashing with users flags.

[2017-01-19 04:56] #102 closed

[2017-01-19 05:32] jchip commented on #102
Yes, that's what I am requesting to change, so there's no need to "attempt to keep the flags we define minimal to avoid clashing with users flags".  There are quite a few options gulp-cli has.

[2017-01-19 06:15] jchip commented on #102
Can we keep this open and discuss further please?  Because yargs has more side effects than just `"gathers" options`.

[2017-01-19 07:05] jchip commented on #102
**side effect 1:** `--` is significant to `yargs`.  I am expecting *only* three tasks: `task_a` with a bunch of options, `task_b`, and `task_c`

[code]

**side effect 2:** I have no idea what's going on, but I am expecting three tasks: `task_a`, `task_b`, and `task_c`

[code]

[2017-01-19 07:08] jchip commented on #102
If you consider this an issue, I am happy to propose a solution and submit a PR.

[2017-01-19 12:51] Paqura commented on #84
npm i -g gulp-cli

it's rly working

[2017-01-19 13:04] phated commented on #102
Sorry, the 2 scenarios you described above are working as intended. You probably need to do some more research on how *nix style arguments work.

[2017-01-19 18:10] jchip commented on #102
In scenario 1, I want to pass the options `--foo -- --task_a --pass --thru --opts` to `task_a`.

In scenario 2, `--foo --bar` to `task_a`, `--hello --world` to `task_b`, and nothing to `task_c`.

None of these options are clashing with the gulp-cli's options.

I am not sure how these are working as intended.  Could you suggest I achieve what I need in both scenarios please?

[2017-01-19 18:51] jchip commented on #102
In scenario 2, it's again due to a behavior from yargs.  Whenever it sees an option not start with `-`, it automatically consider that an argument for the previous option.

That's the reason for my original request, leave the options for the tasks alone, don't interfere with them with yargs' behaviors.

[2017-01-19 19:03] phated commented on #102
I'm sorry that you don't grasp *nix command line argument parsing. This is not the place to find that knowledge. We aren't removing yargs.

[2017-01-19 19:17] jchip commented on #102
Is there really need for this because I have difference in opinion on how options should be preserved for tasks?  I am ***not*** asking you to remove yargs.

As far as I know, there's no *nix thing that says you must consider `--foo bar` or `-foo bar` such that `bar` is an argument for `--foo`, but if yargs works that way, sure.  I admit I didn't know that about yargs.

For `--`, yargs' behavior i

[2017-01-19 19:22] phated commented on #102
You are grouping flags and arguments in a non-*nix-compatible fashion. So there's nothing to work on other than your understanding. I've done extensive research when trying to pick an arg parser and yargs is as close to compliant as I could find. If you aren't passing flags and arguments properly, of course you are going to run into perceived issues.

I'm going to lock this because you are just ta

[2017-02-04 02:32] shinusuresh commented on #84
`npm i -g gulp-cli` works for me too :+1:

[2017-02-09 20:03] zxqfox opened #103 "Think about smarter usage of double-dash"
There are a some quantity of issues about parameterization tasks in gulp and probably I have an idea that can be suitable for everyone.

By default it marks the end of parameter (option) list.

But `npm run-script` passes arguments after the first `--` directly to the script and it feels like this one is really familiar for nodejs community. Fellows uses `--` as a delimiter for passing arguments i

[2017-02-09 20:34] phated commented on #103
That's not how double dash works. You can only use it once.

[2017-02-09 20:34] #103 closed

[2017-02-09 20:40] zxqfox commented on #103
What that means?

[2017-02-09 21:08] zxqfox opened #104 "Cant use gulp with free arguments"
Trying to run `gulp task -- param`.

Parsing `param` with `minimist` in `gulpfile.js`, but `gulp-cli` still handles this as a task.
What I should do?

[2017-02-09 21:14] contra commented on #103
@zxqfox I think what he's trying to say is that the way unix defines the usage of the double dash is such that you can only use it once, any other usage would be non-standard

[2017-02-09 21:15] contra commented on #104
@phated We should ignore anything after `--` to confirm to unix standards right? I'm surprised our parser doesn't already pick up on that, and instead puts them in `_`

[2017-02-09 21:17] zxqfox commented on #104
@contra It's not unix, it's bash only. I've provided links about that in #103.

I'd like to have behaviour as close to `npm` as possible but I was surprised you close an issue so fast ;-D

[2017-02-09 21:19] zxqfox commented on #103
@contra Can we ignore anything after `--` and not treat as commands for gulp? I guess there are a lot of people who really need it.

[2017-02-09 21:37] phated commented on #104
If yargs doesn't handle the `--` correctly, that's an issue for them.  I'm pretty sure it does (tested it over a year ago so I don't remember specifics).

[2017-02-09 21:37] #104 closed

[2017-02-09 21:38] phated commented on #103
If yargs doesn't handle this correctly, that's an issue for them.

[2017-02-09 21:38] zxqfox commented on #104
@phated What means correctly? It does it like `bash`, but not like `npm`. Is this correctly for `gulp`? And why?

[2017-02-09 21:40] phated commented on #104
`npm` is a custom implementation that was introduce in npm@3, we aren't going to implement that because we follow bash whenever possible.

[2017-02-09 21:41] zxqfox commented on #104
Why?

[2017-02-09 21:43] zxqfox commented on #103
@phated Dude, I'm only one here, no reason to lock issues, I still can make another or just go away.

I really don't get why you follow bash-commands but not `npm run-script` or `yarn run` behaviour.

`npm run-script` is a task runner. `gulp` is a task runner. `bash`-commands is not a task runner. Really curious why.

[2017-02-09 21:46] phated commented on #103
Because that isn't our philosophy. I don't understand why you continue to harp on this.  We've already made this decision and you aren't going to convince me to change it.

You say that bash isn't for task runners but you keep referencing task managers as your examples, which is an insane double-standard.

We aren't going to do this so you can just stop.

[2017-02-13 11:16] eliprodigy commented on #84
npm i -g gulp-cli works for me too 👍

[2017-02-16 15:47] asebold commented on #84
I was also getting this when trying to set up a new foundation site on linux. `npm i -g gulp-cli` fixed it.

[2017-04-22 23:14] #92 closed

[2017-04-22 23:50] phated commented on #71
Basic support for this was completed by #92
@sttk does that PR add support for every flag or just the ones specified?  If it only supports a subset, should we leave this open?

[2017-04-23 02:03] sttk commented on #71
@phated I think #92 is for creating mechanism to support flags.
We may add other flags or configs later as needs or requests.
So this issue might be closed.

[2017-04-23 12:09] sttk commented on #71
@phated Or are there any flags what you are already thinking that we should add?
I'll implement to support those flags if you list them.

[2017-04-26 17:34] phated commented on #93
Now that we shipped config files.  What should this property be named in the config file?  Should it be a top-level key or inside a nested object?  @erikkemperman @sttk

[2017-04-26 17:44] phated opened #108 "Expose `flags.require` as config option"
We can make it work very similar to usage with Liftoff by mirroring https://github.com/js-cli/js-liftoff/blob/master/index.js#L118-L125

The `requireLocal` method is exposed on the instance: https://github.com/js-cli/js-liftoff/blob/master/index.js#L28

[2017-04-26 17:46] phated opened #109 "Expose `flags.cwd` as config option"
The `chdir` logic already comes later in the program so this one should be easy.

[2017-04-26 17:58] phated opened #110 "Expose `flags.logLevel` as config option"
This option is very important to a lot of people (I think).

[2017-04-26 18:00] phated commented on #71
I think I've opened issues for the 3 remaining flags that make sense as config options.  See #108 #109 and #110

[2017-04-26 18:00] #71 closed

[2017-04-26 18:44] erikkemperman commented on #93
Don't think I have a strong preference either way...

[2017-05-08 11:07] pascalberger opened #111 "Update changelog"
The [changelog](https://github.com/gulpjs/gulp-cli/blob/master/CHANGELOG.md) is outdated with changes for 1.2.2 and 1.3.0 missing.

[2017-05-08 22:29] phated commented on #111
Gulp projects are no longer using changelogs as this library and are moving to conventional changelog + github releases but I haven't had time to rebase the whole history to match conventional changelog style yet.

[2017-05-08 22:29] #111 closed

[2017-05-23 09:01] flying-sheep opened #112 "Allow usage from JS or extract data retrieval to another package"
I’d like to do

[code]

[2017-05-23 15:59] phated commented on #112
Gulp exposes the methods you want. Just use it programmatically.

[2017-05-23 15:59] #112 closed

[2017-05-23 19:32] flying-sheep commented on #112
Oh sorry. I thought because of the version stub that broad compatibility is something limited to gulp-cli.

Will gulp 4 be able to load and spit out a task list for old gulpfiles?

[2017-06-07 01:06] BurtHarris commented on #72
@phated this topic interests me.   Might be something I could help with.

Is there you got anything written down about logging principles in gulp?   I'm particularly interested in logging from external tools, which might well be running async.   It seems reasonable we might batch up such logging but not display it unless there is an error, and provide hooks for extracting meaningful information fr

[2017-06-07 01:08] BurtHarris commented on #72
Seems like this doesn't belong in the **cli** project, am I mistaken?

[2017-06-07 18:04] phated commented on #72
The CLI converts messages from https://github.com/gulpjs/gulplog into `console.log`, so yes, it belongs here.

[2017-06-07 18:07] phated commented on #72
Relevant code is in gulplog, https://github.com/gulpjs/gulp-cli/blob/master/lib/versioned/%5E4.0.0/log/events.js and https://github.com/gulpjs/gulp-cli/blob/master/lib/shared/log/toConsole.js

[2017-06-07 18:31] #110 closed

[2017-06-10 14:41] sttk commented on #109
@phated I have a question about this flag.

Cli options `--cwd` and `--gulpfile` have relation to each other as follows:

[code]

[code]

[code]

And the current behavior with the config `flag.gulpfile` is:

[code]

Should these configs `flag.gulpfile` and `flag.cwd` have relations like cli options?

[2017-06-12 18:38] phated commented on #109
@sttk I think you may have missed some more examples because the current behavior seems to match?  Maybe I'm just missing it.

[2017-06-12 18:57] #57 closed

[2017-06-13 14:51] sttk commented on #109
This is the result I just did now.

[code]

[2017-06-15 14:27] sttk commented on #109
@phated This behavior about cli options comes from `liftoff`.
`env.configPath` (=gulpfile path), `env.configBase` (=gulpfile directory) and `env.cwd` affect each other.
No other options used by `liftoff` behave as such.

[2017-06-18 01:13] phated commented on #109
I noticed that a few options I wanted to expose as config options needed to be resolved before liftoff (e.g. `nodeFlags`).  I'm not sure how we should resolve these problems.  Maybe @tkellen has an idea.

[2017-06-25 08:58] jaroslw opened #116 "[Question] Get custom flag value inside task"
What is a recommended way to grab custom flag value passed in CLI? In documentation there is only mentioned how to define custom flags.

For example: I would like to pass port and livereload toggle value to the `serve` task. Any help much appreciated :)
[code]

[2017-06-25 17:51] phated commented on #116
Support questions should be directed to StackOverflow. There's a recipe for this too.

[2017-06-25 17:51] #116 closed

[2017-07-23 12:28] NextSeason opened #117 "The file .gulp.json is not working."
I added a `.gulp.json` file under the root dir of the project, but it's not working.

[code]

[2017-07-23 12:53] sttk commented on #117
@NextSeason What version of gulp and gulp-cli do you use?

The feature you want is available from the version 1.3.0 of gulp-cli.

[2017-07-23 13:01] NextSeason commented on #117
@sttk thanks for your reply.

[code]

[2017-07-23 13:12] sttk commented on #117
@NextSeason Maybe you didn't install gulp-cli. Please try to install the latest gulp-cli apart from gulp.

[2017-07-23 14:10] NextSeason commented on #117
@sttk thanks a lot, but it still not working as same as running it with command `gulp --gulpfile build/gulpfile.js --cwd .`.

Everything is going well when I running `gulp` with the command line,  but if I just running `gulp` with the `.gulp.json`, it would ask me to install a local `gulp` in the dir.

[code]

Thank you for your patience.

[2017-07-24 14:54] sttk commented on #117
@NextSeason Did you install gulp-cli globally?

The recommended install method is

[code]

See [getting-started.md](https://github.com/gulpjs/gulp/blob/master/docs/getting-started.md).

[2017-08-04 20:13] phated commented on #117
@NextSeason can you confirm @sttk's last comment solves the issue.  Otherwise I'm going to close this as inactive.

[2017-08-05 15:30] NextSeason commented on #117
@sttk I am sorry, I didn't reply him and you can close it now.
thank you very much.

[2017-08-05 22:50] sttk commented on #117
@NextSeason OK. I'll close this.

[2017-08-05 22:50] #117 closed

[2017-08-18 23:36] phated opened #123 "copy-props"
@sttk I noticed that `copy-props` was major-bumped to 2.x awhile back for an API change.  Can you update it here and address the usage changes?

[2017-08-19 00:18] phated opened #124 "Replace tildify"
Not sure if there's a good replacement module.  Might need to create one.

[2017-08-19 00:21] phated opened #125 "Replace chalk"
I'm thinking we should replace chalk with individual `ansi-*` modules from @jonschlinkert: https://github.com/jonschlinkert?utf8=%E2%9C%93&tab=repositories&q=ansi&type=&language=

[2017-08-19 00:21] phated opened #126 "Replace wreck"
There's probably a smaller and es5-friendly request library.

[2017-08-19 00:22] phated opened #127 "Update yargs"
The newest versions stopped supporting node <4 but it's still the best argument parser so we should stick with it but we should update to the last version they released with node 0.10 support.

[2017-08-19 00:23] phated opened #128 "Update v8flags"
There's some breaking changes and stuff is still a bit broke so we need to hold off here.

[2017-08-19 00:25] phated opened #129 "Remove/replace lodash.* methods"
Just need to replace or remove the 3 `lodash.*` modules. Try to use dependencies that are already in the gulp tree so they will dedupe.

[2017-08-19 00:25] sttk commented on #123
Sorry, I forgot to update about this.
I'm working on it.

[2017-08-19 00:26] phated commented on #123
Thanks!

[2017-08-21 08:48] erikkemperman commented on #123
@phated @sttk I already did some of the things you are requesting in recent issues -- so if you want to you could just cherry-pick from that PR. In this case, for copy-props, https://github.com/gulpjs/gulp-cli/pull/119/commits/295eaa763370b7dc210fbdaf76ffad7e5e690b9b

[2017-08-23 16:41] contra commented on #125
Why? Sounds like a ton of overhead in deps and increased code complexity.

[2017-08-23 17:08] phated commented on #125
Because chalk is overkill and we are removing sindre deps due to desupporting node 0.10

[2017-08-23 22:16] #123 closed

[2017-08-24 17:39] tdeschryver commented on #126
Did you had something in mind?
Because I couldn't find one at first sight, or they dropped node 0.10.

Would it be an option to write one ourselves?

[2017-09-26 05:27] phated commented on #126
@tdeschryver I don't really have any recommendations.  Maybe https://www.npmjs.com/package/http-basic?  Not sure if @ForbesLindesay wants to support node 0.10

[2017-09-26 05:30] phated commented on #126
Maybe https://github.com/brycebaril/client-request

[2017-09-26 05:35] phated commented on #126
Or maybe something as simple as https://github.com/fent/node-miniget

[2017-10-16 18:14] ForbesLindesay commented on #126
I don't support any un-maintained node.js versions. I'd encourage as many module authors as possible to follow suit.

[2017-10-16 19:05] terinjokes commented on #126
We only use it for fetching the blacklist, afaict. Why not just use the built-in HTTP client?

[2017-10-17 03:50] yuheiy opened #136 "Question: How can I use Custom Metadata?"
In README:

[code]

## How can I execute command?

When I executed `gulp --prod build`, it says `Task never defined: default`.

## How can I read values for flags in `gulpfile.js`

[2017-10-19 21:44] phated commented on #136
Support questions should be directed to StackOverflow.  The feature you are asking about is just used for documentation purposes; you have to use node paradigms to read your flags.

[2017-10-19 21:44] #136 closed

[2017-10-20 13:18] radum commented on #72
Can we abstract out the logging part out of the CLI one can use whatever logging method one needs?

We could have the default behaviour there, but external logging services could be used to suppress the default one. This will solve this problem and many others I guess.

For me now in particular I'm considering moving away from gulp just because of this where I can't control how the task resolution

[2017-10-20 15:47] contra commented on #72
@radum Your comment is unrelated to this issue, you should open a new ticket if you have a suggestion. Sounds like you want to be able to overwrite the logger the CLI uses with your own, which is a feature suggestion.

[2017-11-08 08:26] xiaofoyuan commented on #31
@noelyahan Thanks very good

[2017-11-13 20:07] mattjared commented on #9
Random for anyone else using @rajathms solution and still getting the wrong version output on `gulp -v`. I messed around w/ my nvm versions as well and took me forever to figure it out but close and reopen your terminal window and check the versions again. It might be cached for whatever reason in your terminal window. 🍺

[2017-11-14 14:32] monkunashi commented on #88
i have the same problem and am not using webstorm. i have 3.9.1 installed locally and globally and gulp-cli 1.4.0 installed globally (not locally).  most options do not work. -T, --tasks, --tasks-simple, --tasks-json, --color, --no-color, --continue and probably some others. options that i know DO work, are -v, --verify and --help. all other options just report something along the lines of "error:

[2017-11-14 15:29] sttk commented on #88
@monkunashi

Isn't it due to gulp installed globally? Uninstall gulp from global and try again.

[2017-12-06 20:08] #129 closed

[2017-12-07 17:22] VuongN commented on #124
I'll take this one. Could you give me a bit more thoughts on:
1. Was there an issue with current tildify package or is it just a matter of tightening of the code for v4? I see that there is another package dependency (os-home) package.
2. Does this need to be in a separate package or can it go straight into gulp itself? It's pretty small util function.

There are two references to this tildify uti

[2017-12-07 17:39] phated commented on #124
I'm actually wrapping this up shortly.  A new module needed to be created that I'm finishing.

[2017-12-07 18:45] #124 closed

[2017-12-07 18:45] #127 closed

[2017-12-07 18:50] #128 closed

[2017-12-07 19:32] #126 closed

[2017-12-07 19:32] phated commented on #126
@terinjokes can you review my implementation at https://github.com/gulpjs/gulp-cli/commit/ea747211b3357f923afa19bc1f11fa8982783f59?

[2017-12-07 19:45] terinjokes commented on #126
@phated It looks reasonable to me.

[2017-12-13 23:03] #125 closed

[2017-12-17 21:29] #93 closed

[2017-12-17 21:35] phated opened #139 "Include 3.x in test matrix?"
I was just looking at #115 and realized that we don't have any coverage/testing over the 3.x CLI usage.  It'd be nice to add that to the CI matrix for more peace-of-mind.

[2017-12-21 22:33] phated commented on #63
Random ideas for theming (so they are documented somewhere):
[code]

[2017-12-22 19:43] AlecBenzer opened #140 "Documentation for per-task flags could be improved"
#39 discusses per-task flags a bit. The [documentation for it](https://github.com/gulpjs/gulp-cli#custom-metadata) gives the following example usage:

[code]

But... this doesn't seem to show how you're actually supposed to *use* the flags? I imagine it's something like:

[code]

on the CLI:

[code]

Is that right? Can this be documented?

[2017-12-22 20:12] phated commented on #140
@AlecBenzer That's not correct at all.  The feature you are looking at is just for documenting your gulpfiles for other people's usage.  It doesn't expose any sort of usage and you need to use node's `process.argv` directly or a module like minimist or yargs, etc.

[2017-12-22 20:12] #140 closed

[2017-12-22 20:42] AlecBenzer commented on #140
Ok; I'm confused then, what is:

[code]

mean to communicate then? That a flag named `--prod` exists and is implemented via some other mechanism (yargs, etc.)?

[2018-01-02 01:10] phated opened #142 "Revisit requireFail color and message"
It seems that some consumers are allergic to the color red - we should revisit the coloring and messaging of the `requireFail` log.

Ref https://github.com/zurb/foundation-sites/issues/10828
and https://github.com/gulpjs/gulp/issues/1631

[2018-01-02 07:22] ncoden commented on #142
I am really impressed by how close you are to the `gulp` community. Thank you and 👍 for this issue.

[2018-01-02 18:38] Braudin commented on #9
La solución de @rajathms funciono para mi Luego de eso tuve un error de incompatibilidad de sass para w10 x64 el cual solucione con este articulo [https://qiita.com/n0bisuke/items/7c683fd70e398ad678b9](url)

[2018-01-06 20:55] nolbertovilchez opened #143 "No valid versions available for pinkie-promise"
When trying to install gulp-cli globally, the following error appears:

`npm ERR! code ENOVERSIONS
npm ERR! No valid versions available for pinkie-promise`

[2018-01-06 20:58] phated commented on #143
https://twitter.com/npmstatus/status/949728719450460161

[2018-01-06 20:58] #143 closed

[2018-01-08 02:57] sttk commented on #63
@phated I've created a package [theming-log](https://github.com/sttk/theming-log) to manage text decoration of logging with themes on the trial basis.

This package is still a prototype and would be needed to add some functions (for example, printf-style variables).

Can you have a look whether it fits your idea?

[2018-01-09 15:29] sttk commented on #63
@phated Thank you for having a look, and I'm glad you like it.

About the way to using **theming-log** for this package, most of logs in `gulp-cli/index.js`, including the help message, would be ok in the normal way because they are outputted after loading the config files, but for adding themes to the help message it may be needed to overide some methods of **yargs**.

Since logs for `require` an

[2018-01-09 17:10] phated commented on #63
Yeah, I was running into color issues on `--help` and `require`/`requireFail` since we don't configure the theme until after.

I thought maybe the config loading would have to be merged into the CLI code but that doesn't work if Liftoff is being used to find the cwd and stuff.

[2018-01-10 15:30] Kaffiend opened #144 "Typescript Task decorators"
Suggesting Typescript decorators for supplying the task description and name properties since there is no easy way in typescript to extend `function` at least not as easy as JS

[2018-01-10 17:52] phated commented on #144
I don't understand what you are talking about here.

[2018-01-10 17:55] phated commented on #144
Can't you just write your own decorators that do it?

[2018-01-10 17:55] Kaffiend commented on #144
Would it possible to implement typescript decorators that we could import from gulp or gulp-cli that achieves this. Or should i look into making my own at the project level?

https://github.com/pleerock/gulpclass

[2018-01-10 17:57] phated commented on #144
I suppose we could publish a separate module that you could import but we don't currently.  Is that what you are asking?  If we do, it wouldn't be exposed on the official gulp API.

[2018-01-10 17:59] Kaffiend commented on #144
absolutely, i was merely suggesting or toying with the idea that they be part of gulp or gulp-cli  in some manner whether that be a different module or ...yeah, just saw your comment come in. A separate module would be plenty i would think.

[2018-01-10 18:17] phated commented on #144
@Kaffiend it doesn't seem like you can use decorators on functions.  e.g. You can't do something like:
[code]

[2018-01-10 18:24] Kaffiend commented on #144
In typescript the Function type only has a readonly property of `name`; so we cant assign those with a decorator. but the cli interprets `displayName` and a member called `description` as well. Those done exist in the native `Function` type. Could this be extended by another type and utilize those in the scope of gulp scripts? Or take the approach gulpclass did, and decorate metadata on an encapsu

[2018-01-10 18:37] phated commented on #144
I believe the typescript definitions for gulp have a "Task" definition that supports all the properties you are looking for.  I've been working on gulpfiles in VSCode and it shows me `.description`/`.displayName`/etc in the autocompletion.  I'm not sure how you write Typescript to have that definition.

[2018-01-10 18:37] #144 closed

[2018-01-10 18:38] Kaffiend commented on #144
ok, ill look a little deeper, thanks!

[2018-01-10 19:03] phated commented on #144
Here's a little POC I put together for decorators.  However, I think that the proposal is pretty bad and is going to cause a lot of people to write Classes when they shouldn't be...
![screen shot 2018-01-10 at 12 02 28 pm](https://user-images.githubusercontent.com/992373/34790208-50b5879e-f5fe-11e7-8fd1-f4413f97724a.png)

[2018-01-10 19:29] Kaffiend commented on #144
I see how that could cause more work than necessary. I'm inclined to agree on that front. But i also see potential for additional organization and structure to a build pipeline. What i had in mind was something like this.

[code]

on another note to access those properties with typescript casting the functions at `TaskFunction` and exporting its constant works fine, the gulp-cli picks it all up ni

[2018-01-10 19:47] Kaffiend commented on #144
Typescript access to members.

[code]
`gulp --tasks` output
[code]

[2018-01-14 07:02] sttk opened #146 "Strange behavior of changing working directory."
I found a strange behavior about changing working directory. This is related to [the comment](https://github.com/gulpjs/gulp-cli/issues/109#issuecomment-307569185) in #109.

Assuming directory structure:

[code]

and the contents of each files:

[code]

In this condition, the following execution uses `project/gulpfile.js` against my intention.

[code]

When `project/gulpfile.js` is removed or rena

[2018-01-16 20:07] phated commented on #146
@sttk that is strange, indeed.  Do you think we need to make a change in liftoff?

[2018-01-17 14:24] sttk commented on #146
@phated I think this find-up behavior is helpful when a user works in a directory which is a sub directory but not a sub project of a project, so I think we need not change liftoff.

It would be enough to add the real current directory (= `env.INIT_CWD`) to [config file entries](https://github.com/gulpjs/gulp-cli/blob/master/index.js#L45-L52). The current `cwd` entry indicates a (parent) project d

[2018-01-17 21:31] phated commented on #146
I'm good with this solution.

[2018-01-18 18:47] bdelaney opened #148 "Local gulp not found"
Just installed the gulp-cli, first global on my Windows 10 system, and then npm install locally in my project workspace folder. Running gulp -v in the local folder and it gives me single line CLI version 2.0.0
Then I run gulp -T to list tasks and I get the error:
`Local gulp not found
Try running: npm install gulp`
So I do that and now a gulp -v displays two lines:
CLI version 2.0.0
Local version

[2018-01-18 19:42] #148 closed

[2018-01-22 21:19] phated commented on #146
@sttk still planning to fix this?

[2018-01-23 13:09] sttk commented on #146
@phated I've just merged v2.0.1 to my repository, and I'm going to address this issue from now.

[2018-01-23 13:53] lipis opened #150 "Failed to load external module @babel/register"
[code]

Because the first line is an error I cannot use gulp with husky/lint-staged precommit hooks.. this have been around for couple of years now. Can we do something about it? Or at least not throwing an error? (some say it's a warning and everything is fine.. but warnings are not red)

[2018-01-23 19:45] phated commented on #142
We might also want to change this to a `log.warn`

[2018-01-23 19:45] phated commented on #150
@lipis nothing about the color red should fail a precommit hook - hopefully your tooling only looks for exit code 1.  We log on stderr so poor tooling might fail if there is output on stderr.

Ref https://github.com/gulpjs/gulp-cli/issues/142

[2018-01-23 19:45] #150 closed

[2018-01-23 23:07] phated opened #152 "Support gulplog on gulp 3.x"
We should support `gulplog` in the 3.x branch of this CLI so modules can update sooner than later.

[2018-01-25 19:02] njnygaard commented on #142
I'm allergic to the color red because it gets passed through to my docker build. It is not a failure, just attention grabbing. Just as a note, npm warnings about "EINTEGRITY" come through as 'red' too in a docker build. And what I mean by that is `log.warn` might not quiet those with the allergy.

[2018-01-25 21:52] phated commented on #142
@sttk I just realized this issue wasn't fully completed by my PR.  We still need to change the wording of the messages.   I also think a "beforeRequire" event in liftoff would help improve messaging.  Thoughts?

[2018-01-25 21:53] phated commented on #142
@njnygaard I'm guessing you don't know of our --no-color flag?

[2018-01-25 23:11] contra commented on #142
Why are we logging this message at all if it ends up working?

[2018-01-25 23:13] phated commented on #142
@contra some of the logs happen in realtime (require logged right after it's required or fails) while some is batched but we don't know which is which.  Also, I think there was a desire to show the user when they were using an older loader (e.g. `babel-register` instead of `@babel/register`)

[2018-01-26 18:27] phated opened #153 "Sync tasks aren't reported when user has the sync task as part of a `watch`"
I never figured out how this could be reported properly because the process never gracefully exits during a watch - the user has to interrupt it with a SIGHUP or something.

cc @stevelacy @sttk

[2018-01-27 22:27] monkunashi commented on #88
@sttk

No, I've tried so many combinations of different versions and installing just locally, just globally and both... No matter what I do, I can't get it to work. I've since given up, But if you have any other ideas or knowledge of version incompatibilities with node or npm or anything wierd like that, I'm open to try again

[2018-01-28 08:56] sttk commented on #88
@monkunashi I have no idea about your issue. All I can say is that do check there are no old versions of gulp and gulp-cli which are installed globally, then install them by `npm install -g gulp-cli; npm install gulp`.

If possible, you should use gulp v4, which is the latest version recently released, by `npm install -g gulp-cli; npm install gulp@next`.

If it still does not resolve, search or as

[2018-01-28 09:05] sttk commented on #142
@phated

Yes, I remember that there is a request to add the event to liftoff (https://github.com/js-cli/js-liftoff/issues/53). I agree it, and I'll address it if I can.

[2018-01-28 15:50] monkunashi commented on #88
Thanks for the tips. Though it didn't help. I've searched everywhere for an answer. The few others with this problem that ask get shrugged off as it being user error. I haven't tried posting to stack overflow about it yet though.

I have one idea, but not sure how to find out if it's right or not... But I don't have admin rights on my computer, so I have the npm prefix option to set my npm global

[2018-01-28 20:21] phated commented on #88
@monkunashi How do you expect anyone to help you when you can't produce a reproduction case independent of your system?  Unless you can do that or debug further, no one will be able to help you.

[2018-01-28 21:39] monkunashi commented on #88
@phated

So because I don't have another computer with restricted access, I should refrain from asking questions? Someone else started this post... I was just saying I also have the issue. Then I informed of a potential cause, albeit a guess, I'm not a complete idiot... It makes sense. But sorry if you feel I should just keep my ideas and theories to myself until I decide to by myself an expensive

[2018-01-28 21:44] phated commented on #88
How does this help us UNPAID maintainers?  It feels like you expect us to ssh into your box and debug your problem.  A reproduction case would be something like a repository that exhibits the problem that a maintainer can actually run on your machine.

Also, you probably **should** refrain from coming into a project and asking for free support when your github profile looks like:
<img width="1087"

[2018-02-20 02:26] talawahtech opened #156 "Error: potentially unsafe regular expression"
It would appear the [regex-not](https://github.com/jonschlinkert/regex-not) is somewhere in your dependency chain and they just released an update to check for whether or not regular expressions are potentially ["unsafe"](https://github.com/jonschlinkert/regex-not/commit/4225c06dde12c6bee6ab9f75caafa27c932313ba) (may take exponential-time to run).

Unfortunately it looks like they have defaulted t

[2018-02-20 02:35] jonschlinkert commented on #156
This was fixed. Sorry, it was (my) human error.

[2018-02-20 02:41] talawahtech commented on #156
Thanks! Working again for me now 👍

[2018-02-20 02:41] #156 closed

[2018-04-06 20:56] demurgos opened #157 "`tasks-json`, `version` and `help` flag should imply `silent`"
The expected output of `tasks-json` is to emit a JSON representation of the available tasks to the standard output.
Some extra logs may be emitted, causing parse errors by consummers. For example when a gulpfile is transpiled, it emits the line `[<time>] Requiring external module <transpiler>` followed by the JSON output.

The workaround is to use the `--silent` flag to suppress the extra logs. So

[2018-04-07 20:09] phated commented on #157
I thought we did this.  @sttk any ideas?  @demurgos which version of gulp - the --tasks-json recently was backported to 3.x and maybe we missed the silence part?

[2018-04-08 00:57] sttk commented on #157
@demurgos @phated About `--tasks-json`, this issue can be fixed by adding `opts.tasksJson`  in [this condition](https://github.com/gulpjs/gulp-cli/blob/master/lib/shared/log/to-console.js#L35). I'll send a pr for this.

If it is needed to suppress requiring logs for `--version` and `--help` (and more flags?), a few more modifications are needed. (stop logging in first `toConsole`, and enable loggi

[2018-04-08 08:00] demurgos commented on #157
`--version` and `--help` are intended for humans so the extra logs are less problemematic, but it still would be good to only keep the relevant information. The use of the transpiler is not related to the version or help. I did not look into the code details, but from a user point of view it may be surprising that these commands load the gulpfile.

[2018-04-11 15:31] jhessin opened #160 "add support for a gulpfile.babel.coffee configuration"
I thought I could do this myself and give a pull request - but alas my JavaScript skills aren't up to par.

I know that gulp will automatically compile a gulpfile.coffee and it will transpile a gulpfile.babel.js. However it should support doing both with a gulpfile.babel.coffee. This would be simple to do with gulp, or even just using a package like `coffee-babel` (yea - I made that). Currently th

[2018-04-11 15:38] phated commented on #160
There are *years* old bugs that make this impossible currently. I'll link and close this when I'm at a computer.

[2018-04-11 15:41] jhessin commented on #160
That is not an answer. When you run `gulp` at a command line it finds one of these:
gulpfile.js
gulpfile.coffee
gulpfile.babel.js

Where does the logic for this come from? I'm willing to do the work I just need some direction.

[2018-04-11 16:59] phated commented on #160
Duplicate of https://github.com/js-cli/js-rechoir/pull/34 and https://github.com/js-cli/js-rechoir/pull/26 - neither of which solve the issue because `require.extensions` is super weird in node.  I had some stuff I was working on locally but it didn't work out.

[2018-04-11 16:59] #160 closed

[2018-05-02 04:27] phated opened #162 "Clear "task did not complete" warning when an error occurs"
Ref https://github.com/gulpjs/gulp/issues/2168

[2018-05-07 23:42] another-guy commented on #162
The false negatives (`Did you forget to signal async completion?`) reported by @MLoughry in the ref'ed issue is occurring to me to. I'm too talking specifically about the `gulp.parallel(failingTask, notFailingTask)` case.

Since the ref'ed issue has been closed, is this the right issue to subscribe for status notification(s)?

[2018-05-10 06:39] ericchenshine commented on #109
As setting `flag.gulpfile` in the `.gulp.*` does not work like CLI which will also change CWD first, I keep getting the error that

It works fine when I use `gulp --gulpfile=aaa/bbb/gulpfile.js`
I am wondering if this could be fixed soon? Thanks!

[2018-05-22 07:45] Neonit opened #163 "Automatic color detection issue on Windows with GIT Bash"
Five minutes ago I didn't even know gulp had color support. I found this by running gulp manually:
`node node_modules/gulp/bin/gulp.js`
This gave me a colored output on my GIT Bash on Windows 7 x64.

The bash itself reports the following version:
[code]

Just running `gulp` (using the globally installed gulp-cli 2.0.1) does **not** give me a colored output. It works when I add `--color` manually.

[2018-05-22 12:41] sttk commented on #163
Thank you for the report.

I reproduced it but I don't find the cause yet, but I think it is not a gulp issue.
I'll look into it more.

[code]

[2018-05-22 14:12] sttk commented on #163
I found the cause of this issue.

gulp-cli uses [color-support](https://www.npmjs.com/package/color-support) to detect whether a terminal supports color output, and it checks whether stdout is a TTY by `process.stdout.isTTY`.

However, this `isTTY` flag on MinGW is `false`, maybe because MinTTY does not play well with Windows console applications which need interactive mode.

We will not solve thi

[2018-05-23 06:17] Neonit commented on #163
I cannot reproduce your findings.

Using the same GIT Bash I encountered the issue with in the directory I cloned gulp-cli to (so I assume it's using the same version of color-support):

[code]

Ironically, the output was colored.

I had a look at your code in `lib/shared/ansi.js` and considering the above output I cannot understand how it doesn't want to give me colors by default.

[2018-05-23 11:45] sttk commented on #163
@Neonit Use not `node` but `node.exe`.
I don't know mechanism inside of Git Bash Terminal, but these two commands behave differently, and gulp (and other applications?) runs with `node.exe`.

[2018-06-19 20:50] coreyfarrell opened #164 "gulp --require doesn't work when running globally installed binary."
I'm trying to use gulp with `esm` instead of babel as my project will only support new versions of node.js.  On my system I have gulp-cli@2.0.1 installed globally, gulp@next and esm installed locally.
Running the globally installed gulp:
[code]
Running the locally installed gulp:
[code]
My gulpfile.js:
[code]
gulp -v gives the same info global or local:
[code]

[2018-06-19 21:08] phated commented on #164
Esm claims it only works on local runs. Why/how would we do otherwise?

[2018-06-19 23:52] coreyfarrell commented on #164
Hmm I guess I misunderstood how gulp-cli was expected to work.  I had thought that the global copy would run the local copy but it appears it doesn't actually spawn a new process in most cases.  Understanding esm is beyond me but I'm guessing 'local runs' means local to the actual process being run?  Anyways thanks for the reply I'll close this since it seems impractical to make it work as I hoped

[2018-06-19 23:52] #164 closed

[2018-06-20 00:21] phated commented on #164
@coreyfarrell I've actually been thinking about adding `esm` to the list of extensions in https://github.com/js-cli/js-interpret which might solve your issue.  I think we'd need the extension to be `.mjs` - is that correct?

If you want to open an issue over there, we might have a chance to add it.

[2018-06-20 01:18] coreyfarrell commented on #164
`.mjs` is required by esm if the options mode == 'strict', not strictly required.  I think `.esm.mjs` should be used so it doesn't conflict with native .mjs in the future.

I created js-cli/js-interpret/issues/52.

[2018-08-01 23:03] betaorbust opened #165 "StdOut messed with after gulpfile.js runs"
# Description
If you make any modifications to `process.stdout.write` within a `gulpfile` they will be immediately undone before the tasks are executed.
# Technical Description
The root cause seems to be that  `mute-stdout`'s unmute is called every time, no matter what,
https://github.com/gulpjs/gulp-cli/blob/1b801881aa8c12fc1c74fb76ff6f297561e6f283/lib/versioned/%5E4.0.0/index.js#L40-L41
https://

[2018-08-17 03:57] moos commented on #142
Fails completely with node `v10.1.0` -- unable to proceed.

[code]

[2018-08-18 23:01] phated commented on #165
I've just published 1.0.1 of mute-stdout with @sttk's fix.  Please update your dependencies (and make sure it's not locked to 1.0.0 in your lockfile) and try again.

[2018-08-18 23:01] #165 closed

[2018-08-21 09:10] marcelh-gh opened #167 "[enhancement] more flags to be configurable via a .gulp file"
for example the `require `flag

[2018-08-21 13:43] sttk commented on #167
@marcelh-gh We are planning to support `require` flag via `.gulp.js` (#108), but to do this, it is needed to modify `js-liftoff` ([js-liftoff#93](https://github.com/js-cli/js-liftoff/pull/93/files), etc.)

About `cwd` flag, we have some issues (#109, #146, etc.)

About some of other flags, we will address to support. Do you request any other flags? We'll try it or welcome your PR.

[2018-08-21 20:41] marcelh-gh commented on #167
@sttk great to hear that you are already on it! :-)
I was looking for this to have `--require tsconfig-paths/register ` everytime I run gulp.
Maybe it would be a good idea to do that always, just like you already register ts-node when the gulpfile is written in TypeScript.

[2018-08-30 12:31] sabsaxo opened #168 "How to upgrade to V4?"
I have these version:
[code]
But simply cannot figure out how to upgrade the CLI version!

How do I do that?

And in the end I'd simply just like to have Gulp working on my machine, no more no less.

[2018-08-30 12:32] sabsaxo commented on #168
And by the way, why not make it IMPOSSIBLE to have diverging version in the first place, so that users don't have all this fiddling around, and guessing to do? Just asking.

[2018-08-30 12:37] sabsaxo opened #169 "Please, add installation instructions to the README."
Please, add installation instructions to the README. It's missing ...

[2018-08-30 12:41] sabsaxo commented on #168
OK, so doing:
[code]

Gives me:
[code]
And now it's working.

Happy (well), but confused.

[2018-08-30 14:29] contra commented on #168
@sabsaxo You rely on the API of `gulp@next` in one project and `gulp@3` in another and you have `gulp@3` installed globally, what happens? It doesn't work.

You need a version agnostic CLI that just loads the local version blindly. This is what gulp-cli is. Your CLI version will almost never need to be upgrade, because it supports all versions of gulp.

You didn't need to do any fiddling, gulp-cli

[2018-08-30 19:26] phated commented on #168
`npm install -g gulp-cli` as per https://github.com/gulpjs/gulp/blob/master/docs/getting-started/1-quick-start.md

[2018-08-31 08:48] sabsaxo commented on #168
Thanks, for clearing that out. But the confusion is there non the less.

Why did running:
[code]
downgrade the CLI from 3.9.1 to 2.0.1?

[2018-08-31 15:40] contra commented on #168
@sabsaxo The CLI is installed globally and isn't even the same package, `npm i gulp@next` would absolutely not do anything to your gulp-cli version. If it did, that would be a major bug in NPM that you should report there.

[2018-08-31 15:40] #168 closed

[2018-09-03 07:49] sabsaxo commented on #168
What would be the explanation of the different versions shown in the terminal when running `gulp --version`:
[code]
vs
[code]
after running `npm i gulp@next`?

[2018-11-15 02:42] sgen opened #171 "Gulp fails to load '@babel/register'"
I'm attempting to use `@babel/register` instead of `babel-register`. However, Gulp fails to load it.

Replication instructions:

Initialize `npm`, `npm install gulp@next @babel/register @babel/preset-es2015`, setup `.babelrc` and `gulpfile.babel.js` and run `gulp`.

`ls` clearly shows `node_modules/@babel/register` is installed.

[code]

[Reproduction example](https://github.com/sgen/gulp-babel-re

[2018-11-15 14:04] sttk commented on #171
According to the pages of [@babel/register](https://babeljs.io/docs/en/next/babel-register.html) and [@babel/preset-es2015](https://babeljs.io/docs/en/babel-preset-es2015) in babel's site, you need to install @babel/core, and should install @babel/preset-env instead of @babel/preset-es2015.

For more information, please direct questions to StackOverflow or babel's support. It seems that this is no

[2018-11-15 14:04] #171 closed

[2018-11-15 22:52] stclairdaniel opened #172 "How to add additional, non-Gulp tasks as args on command line"
This may be a super silly question:
I have a gulp task in my gulpfile called `start` and in my `package.json` I have a script:
`"start": "gulp start",`

I would like to call this from the command line like `npm start staging` and use the `staging` argument inside the `start` task to determine the env. This of course produces an error:
`Task never defined: staging`

I was able to get around it by a

[2018-11-15 22:53] sgen commented on #171
@babel/core @babel/register and @babel/preset-env does it.

[2018-11-16 15:57] sttk commented on #172
@stclairdaniel Gulp (gulp-cli) treats non-flag args as task name, but not about flags and flag values. To separate non-flag args and flags/flag values, gulp-cli uses [yargs](https://www.npmjs.com/package/yargs). So please check yargs's document.

About npm's `"script"` field, please check npm's documents.

[2018-11-16 15:57] #172 closed

[2018-11-29 18:39] phated opened #174 "Support `npx gulp-cli`"
As per @terinjokes in DMs.

[2018-11-30 21:11] ericwbailey opened #175 "Issue updating with NVM"
Hi there,

I was following the instructions outlined in [this post](https://medium.com/gulpjs/gulp-sips-command-line-interface-e53411d4467) and ran into a problem:

Removing global gulp by running `npm rm --global gulp` works, but attempting to install `gulp-cli` via `npm install --global gulp-cli` generates the following error message:

[code]

Have you encountered something like this before?

[2018-11-30 21:14] phated commented on #175
The error above happens when you have messed up permissions.  You likely originally installed gulp with sudo, then removed it without sudo which left the manpage dangling and now it can't be replaced by the new install.

[2018-11-30 21:14] #175 closed

[2018-11-30 21:16] ericwbailey commented on #175
I'll give that a shot, thanks.

[2018-11-30 21:17] phated commented on #175
@ericwbailey you should be able to check permissions on the file that it says it can't remove and then use proper permissions to remove it.

[2018-12-01 01:40] ericwbailey commented on #175
That seemed to do the trick, thanks again!

[2019-01-03 14:24] marcofugaro opened #177 "Log only the "Finished" messages and not the "Starting" ones"
Hey, it would be really useful if I could tell Gulp to log only when a task is done, not when it starts.
I don't actually care when the task starts during development. I only care about how much time it took and if it ran successfully.

I've tried the `log-level` option and it just turns the starting/finished logs on or off.

What do you think?

[2019-01-05 03:37] sttk commented on #177
@marcofugaro Now we consider that gulp-cli enable to customize colors and messages of logs. If it is achieved, gulp-cli will be able to output an empty line too instead of starting log.

[2019-01-11 17:44] StevenLiekens commented on #144
I found an easy way to extend functions.

Put this anywhere in your `gulpfile.ts`:

[code]

With that in place, you can now set the displayName/description like you would in plain JS.

[code]

[2019-01-26 09:43] nichalko opened #178 "How to uninstall CLI version 3.9.1?"
Was getting `gulpInst.start.apply(gulpInst, toRun);` so upon checking on here and SO I found out I needed to get rid of 3.9.1..

Seems like I cant uninstall CLI version 3.9.1 that I presume is installed globally.

What I have tried is:

`npm rm -g gulp-cli@3.9.1`
`npm rm -g gulp-cli`
`npm uninstall -g gulp-cli@3.9.1`
`npm rm -g gulp`
`npm uninstall -g gulp-cli`
`npm uninstall -g gulp`

I tried abo

[2019-01-28 11:01] nichalko commented on #178
I solved it. Still don't know what caused it though.

Just went to `C:\Users\<username>\AppData\Roaming\npm` and deleted everything inside that was related to `gulp`.

Also deleted content of `cache` folder in the same location.

And deleted `package-lock.json` in the project folder.

From that I followed documentation:
`npm install gulp-cli -g`
`npm install gulp -D`

Now works fine.

[2019-01-30 02:46] phated commented on #178
These issues are always some sort of local environment configuration.  I'm glad you got it figured out!

[2019-01-30 02:46] #178 closed

[2019-01-30 03:13] phated commented on #144
@StevenLiekens you should submit this solution to the `@types/gulp` typescript definitions

[2019-02-04 10:13] StevenLiekens commented on #144
@phated I don't know if that's possible. This is module augmentation syntax, which is different from module declaration. I don't know if you can (or even should) put `declare global {}` in a `@types` package.

[2019-02-18 12:01] BananaAcid opened #179 "Question: does gulp-cli avoid having glulp and gulp-modules linked?"
Does gulp-cli avoid having glulp and gulp-modules linked into the gulp file folder (works with a globally installed gulp and globally installed gulp-modules)?

this should be added to the Readme (or clarified if I missed it).

[2019-02-18 12:12] ray007 opened #180 "cannot install with npm"
I tried to install new gulp with instructions from [gulp-quickstart](https://gulpjs.com/docs/en/getting-started/quick-start), but it does not work:
`npm install --global gulp-cli` results in
[code]
Since installing modules other than gulp/gulp-cli works, there seems to be a problem with the gulp published to npmjs.
All this on Win10 x64.

[2019-02-19 09:12] ray007 commented on #180
Update: I did verify the problem exists only in Windows `cmd`, doing the install in the linux subsystem works.
Which doesn't help me, since the target build system needs to run in Windows `cmd`.

[2019-02-19 21:44] bjg2 opened #181 ".gulp.json not working well with gulpfile.ts"
gulp version 4.0.0
gulp CLI version 2.0.1

Please take a look at [gulp-typescript-fail](https://github.com/bjg2/gulp-typescript-fail) repo, there is a small repro.

`gulp test` is not working and `gulp test --gulpfile other_folder/gulpfile.ts` is working, even though the same gulpfile is defined in `.gulp.json`. Also, if I execute `gulp test --gulpfile other_folder/gulpfile.ts` silent flag in `.gu

[2019-02-20 16:02] sttk commented on #181
There is a different behavior between `--gulpfile` option and `flags.gulpfile` in `.gulp.js`. `--gulpfile` options changes cwd but `flags.gulpfile` does not. These behaviors are still under consideration.

Maybe you can work that by the following way:

1. Move `.gulp.json` in `other_folder` and modify `gulpfile.ts` path.
2. Run the command `gulp test --cwd other_folder`. (`flags.cwd` is not suppor

[2019-02-20 16:23] bjg2 commented on #181
So it is not possible currently to have configs in `,gulp.json` (not in CLI), write gulpfile in typescript, and to have gulpfiles in other folders. :) Ok, I will align, but I am eagerly waiting for `.gulp.js` flags to be taken as default and CLI ones as override (I guess that is what everyone using `.gulp.json` expects to happen).

[2019-02-21 15:01] sttk commented on #181
@bjg2 Sorry, I've mistaken. This problem is not about cwd but about autoloading a gulpfile in `.gulp.js`.

The cause is the lacking of preparing loader for a gulpfile in `.gulp.js`. The same process for a gulpfile by cli option is executed in `liftoff` by using `rechoir`.

I'll try to fix this issue this weekend.

[2019-02-21 15:07] sttk commented on #181
OK. I'll address that after this issue.

[2019-02-22 14:34] ray007 commented on #180
I was asked for versions in the gitter chatroom, so also more info here:
[code]
Looking for the JSON end in the logfile, I find the following line:
[code]

[2019-02-22 15:22] ray007 commented on #180
Something very strange just happened: to get more information, I added `--verbose` to the install command, and suddenly it worked.
Any explanation for this?

[2019-02-23 05:21] phated commented on #180
Sounds like your npm was in a weird state.  Glad you got it solved.

[2019-02-23 05:21] #180 closed

[2019-02-23 05:39] phated commented on #179
No.  gulp-cli exposes the `gulp` command to the command line.  Due to Node's module resolution system, you need to have gulp installed locally into your project to use any of the methods that gulp provides (like `src`, `dest`, etc).

[2019-02-23 05:39] #179 closed

[2019-02-23 06:02] phated commented on #144
@StevenLiekens fair enough.  I don't do typescript things so thanks for elaborating.

[2019-02-23 06:37] phated commented on #169
Installation instructions are now part of our official docs!!  You can find them at https://gulpjs.com/docs/en/getting-started/quick-start#install-the-gulp-command-line-utility

[2019-02-23 06:37] #169 closed

[2019-02-28 15:51] allawitte commented on #31
Everything what was described works good on Windows, but on Linux the issue was not solved. I manage to solve the problem when I decrease version of gulp to 3.9.1

[2019-03-13 19:31] #181 closed

[2019-03-13 19:33] phated commented on #142
This was closed by #182 because it pulled in Liftoff 3.1, and v3 removed the extra logging if we found 1 successful loader.

It should be released very soon.

[2019-03-13 19:33] #142 closed

[2019-03-18 22:02] #157 closed

[2019-03-18 22:05] phated commented on #157
:shipit:

[2019-03-20 07:50] carlobeltrame commented on #31
@allawitte At first, `npm install -g gulp-cli` didn't work for me either, but closing and opening a new console, it worked.

[2019-03-21 02:29] sttk commented on #109
@phated As @ericchenshine said above, current `flags.gulpfile` in config file doesn't change cwd unlike `--gulpfile` cli option. In addition, `flags.gulpfile` in home dir resolves its relative path with home dir unlike `flags.require`.

Should we give consistency to `flags.gulpfile` with other cli options and config flags? (This would affect to behaviors when specifying combinations of all or some

[2019-03-21 02:39] phated commented on #109
Parity would be great! This can now be solved with the Liftoff changes, correct?

[2019-03-21 03:06] sttk commented on #109
1. For changing cwd by  `flags.gulpfile`, we should change [lib/shared/config/env-flags.js](https://github.com/gulpjs/gulp-cli/blob/master/lib/shared/config/env-flags.js) to replace `env.cwd` to `env.configBase` when detecting `env.configPath`'s change.

2. For relative path of `flags.gulpfile`, [this path resolving of gulpfile](https://github.com/gulpjs/gulp-cli/blob/master/lib/shared/config/load

[2019-03-21 22:23] #108 closed

[2019-03-21 22:23] #167 closed

[2019-03-21 22:25] phated commented on #109
@sttk I'm fine with those changes.  The current behavior seems like a bug so we could probably release it in the same version as the other upcoming changes.

[2019-03-23 20:20] phated opened #185 "Currently, flags don't override config file properties"
This was noted in #181 with a fix in #184.  Creating this issue just so we have a top level reference of the behavior.

[2019-03-23 21:26] #185 closed

[2019-03-26 04:32] phated commented on #2
We have something like 95% code coverage now.  I don't think this broad "make more tests" issue is needed anymore.  We can identify missing tests and create individual issues for them.

[2019-03-26 04:32] #2 closed

[2019-03-26 16:08] phated commented on #181
A fix for this has been published in gulp-cli 2.1.0!

[2019-03-26 16:10] phated commented on #167
The `flags.require` property is now supported in v2.1.0!

[2019-03-26 16:10] phated commented on #157
A fix for this has been published in gulp-cli 2.1.0!

[2019-03-28 14:33] bjg2 commented on #181
It works! Thanks!

[2019-04-01 13:37] sekamdex commented on #31
As @carlobeltrame said, closing and opening a new terminal window did work for me!

[2019-04-06 20:36] AndrewLeedham opened #187 "[feature] Allow Liftoff moduleName to be set with envar."
I am currently in the process of writing some integration tests for https://github.com/AndrewLeedham/gulp-http2-push-manifest, and I am wanting to run the module against different versions of Gulp (4.0.0 and 3.9.1) to check compatibility.

To achieve this I need 2 local versions of Gulp installed, this can be achieved with yarn aliases (https://yarnpkg.com/en/docs/cli/add#toc-yarn-add-alias), so I

[2019-04-07 15:55] phated commented on #187
@AndrewLeedham the plugin interface has always remained the same, why are you testing against both versions of gulp?  Take a look at how we test streams/plugins at https://github.com/gulpjs/vinyl-fs/blob/master/test/dest.js and https://github.com/gulp-sourcemaps/gulp-sourcemaps/blob/master/test/init.test.js

[2019-04-08 14:20] AndrewLeedham commented on #187
Fair point. There was no specific reason for testing against multiple versions.

[2019-04-08 14:20] #187 closed

[2019-04-20 17:16] phated commented on #109
Due to how complex this issue has become, I'm going to move it to the 3.0 milestone because it might be breaking to some people's workflows.

[2019-04-20 17:17] phated commented on #63
We might as well land this in the next major as well. Moving to the 3.0 milestone.

[2019-04-21 00:02] sttk commented on #63
I'll address this after fixing the issues of `flags.cwd` (# 109) and initial cwd (# 146 and # 154).

[2019-04-21 14:44] bonovski opened #191 "Task never defined: default, watch"
Updated to gulp-cli 2.2.0 today and now my default and watch tasks are not recognised anymore. Isn't this syntax valid anymore?

[code]

[2019-04-21 14:47] phated commented on #191
They should be fine, but you have to upgrade your local undertaker  (which might not be updated due to a lockfile). Cc @coreyfarrell who worked on those changes.

I think I might need to cut a gulp release to ensure people have the new undertaker.

[2019-04-21 15:04] bonovski commented on #191
When I list my tasks I get this:
[code]
Instead of `default` it prints out `<series>` twice.

After updating `undertaker` locally and manually everything's working fine again.
You definitely should bump `gulp` up a notch to get the new `undertaker` automatically.
Thanks for the quick help.

[2019-04-21 15:04] #191 closed

[2019-04-21 15:09] phated commented on #191
I believe lockfiles will still cause issues but I've been meaning to cut a release anyway. I'll do that when I get back to my computer.

[2019-04-21 17:20] phated commented on #191
I just released gulp 4.0.1 - thanks for letting us know about the issue.

[2019-04-21 23:49] yuelin02 opened #192 "TypeError: Cannot read property 'apply' of undefined"
**I still encounter this problem:**
/usr/local/lib/node_modules/gulp/bin/gulp.js:129
    gulpInst.start.apply(gulpInst, toRun);
                   ^
TypeError: Cannot read property 'apply' of undefined
    at /usr/local/lib/node_modules/gulp/bin/gulp.js:129:20
    at process._tickCallback (internal/process/next_tick.js:61:11)
    at Function.Module.runMain (internal/modules/cjs/loader.js:757:11)

[2019-04-22 11:56] phated commented on #192
If you've previously had `gulp` installed globally (as indicated by "CLI version 3.9.1"), you need to remove it before installing gulp-cli globally.  See https://gulpjs.com/docs/en/getting-started/quick-start

[2019-04-22 11:56] #192 closed

[2019-04-22 16:28] yuelin02 commented on #192
Thanks! I figured out. I tried this, but couldn't completely remove CLI 3.9.1, so I removed and reinstalled node with nvm.

[2019-05-14 07:46] rikani opened #193 "Gulp-cli v 2.2.0 fails if task export using parallel or series functions"
After update to v2.2.0 gulp fails with error: `Task never defined: default`

For example I tried the code from https://gulpjs.com Home page:
[code]
Command `gulp --tasks` shows next list of tasks:
[code]
There is no `default` task.

Gulp-cli v 2.2.0 is not compatible with the `gulpfile.js` of the previous version.

[2019-05-14 07:48] rikani commented on #193
https://github.com/gulpjs/gulp-cli/issues/191

[2019-05-14 07:48] #193 closed

[2019-05-14 10:24] phated commented on #193
@rikani I've also shipped v4.0.1 to help ease the lockfile issues with that.  And since, 4.0.2 has been released that fixed another bug so those 2 versions should be used over 4.0.0 + updated undertaker.

[2019-05-26 13:36] pravi opened #194 "Request to update yargs dependency"
As per nodejs schedule https://nodejs.org/en/about/releases/ 8.x is lowest supported release. Do we still want to continue supporting node 0.10? yargs support node > 6. If it is okay to drop support for ancient node versions, I think we should update yargs.

[2019-05-26 23:23] phated commented on #194
Hey @pravi, gulp 4 has committed to supporting node 0.10+ because development began when that was the most stable node and we don't want to unnecessarily break people.

If we drop support, it requires a major bump of all of our libraries and there is a ton of work to do before we are able to do that.  We will be upgrading yargs when that time comes.

[2019-05-26 23:23] #194 closed

[2019-07-12 21:19] mylastore commented on #171
if you @babel/core @babel/register and @babel/preset-env then you get this
``
Error: Cannot find module 'babel-core'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:582:15)
    at Function.Module._load (internal/modules/cjs/loader.js:508:25)
    at Module.require (internal/modules/cjs/loader.js:637:17)
    at require (internal/modules/cjs/helpers.js:22:18)
    at Object.<an

[2019-07-12 21:59] phated commented on #171
@mylastore please inspect your stack trace. It explicitly states your problem was thrown inside `gulp-babel` which isn't part of gulp.

[2019-08-01 18:31] manchuck opened #195 "Series tasks are not appearing"
Given the following gulpfile:

[code]
When running ``gulp --tasks``, the fizz task is missing from the list:

[code]
Version
[code]

[2019-08-03 04:49] sttk commented on #195
@manchuck That result is different from what I ran now. Please upgrade gulp's version.

[code]

[2019-08-25 19:14] phated commented on #195
As @sttk stated, you need to upgrade gulp to 4.0.2 because a bug was found and fixed.

[2019-08-25 19:14] #195 closed

[2019-08-28 23:52] rolinger commented on #168
@sabsaxo - I just ran into the same thing and logically it makes no sense.  It was driving me nuts too because I kept thinking I was somehow installing an older cli package...only to find out the current npm gulp-cli version is 2.2.0.  Upgrading to a lower version number.

[2019-08-28 23:55] rolinger commented on #168
@sabsaxo - I wonder if the original cli was a part of the gulp package, and later they split it out to its own gulp-cli package - and reset the gulp-cli version numbers.  This repo is only 2 years old (right around the time that gulp 4 came out) while the gulp 3, probably with an embedded cli, was out for many years.  Its the only logical thing I can come up with.

[2019-08-29 03:32] phated commented on #168
@rolinger yes, that is correct. More information here: https://medium.com/gulpjs/gulp-sips-command-line-interface-e53411d4467

[2019-09-01 23:41] dotherightthing opened #196 "Use of gulpfile.babel.js (ES6 import) with --gulpfile"
I've renamed my `gulpfile.js` to `gulpfile.babel.js` to trigger the transpilation to ES5.

The Gulp tasks run as expected when I run `gulp` from the same directory:

[code]

But they fail when I run the tasks from a parent directory:

[code]

package.json (`/vendor/dotherightthing/wpdtrt-plugin-boilerplate/`):

[code]

.babelrc (`/vendor/dotherightthing/wpdtrt-plugin-boilerplate/`):

[code]

This

[2019-09-08 00:05] #196 closed

[2019-09-08 00:05] sttk commented on #196
@dotherightthing Use babel's plugin: [@babel/helper-module-imports](https://babeljs.io/docs/en/next/babel-helper-module-imports.html)

[2019-09-08 00:45] dotherightthing commented on #196
@sttk Sorry, I forgot to update this issue. I ended up creating an ES5 importer to import my ES6 `gulpfile.babel.js`.

https://github.com/dotherightthing/wpdtrt-plugin-boilerplate/blob/master/gulpfile-loader.js

[2019-10-12 16:28] Jones-S commented on #178
Does anyone know where i have to delete the files on a mac?
I use Node version manager. I thought I could just use `$ npm list -g` to get the installed packages and where they are saved.
It gives me something like `/Users/****/.nvm/versions/node/v10.16.0/lib`

I went there and delete both `gulp` and `gulp-cli` directory.

Still when `$ gulp -v` I get `[18:21:44] CLI version 3.9.1`.

I thought mayb

[2019-10-12 17:28] Jones-S commented on #178
I solved it by finding a stray gulp installation within `/usr/local/lib/node_modules/gulp/bin/gulp.js`
No idea why it was there.. 🤷‍♂

[2019-10-21 23:22] chiky123ser commented on #192
Thanks, I saved the attempt to delete it and uninstall and reinstall the node version

[2019-10-22 11:40] y3g0r opened #199 "error: unknown option '--tasks'"
# Problem
Running `gulp` with [flag](https://github.com/gulpjs/gulp-cli#flags) (except for `--version`, `--help`) w/o specifying a task returns `error: unknown option '<flag>'`, e.g.:
[code]
# Expected behavior
Running `gulp` with options from `gulp --help` should produce documented result. `task` command line option shouldn't be always required.
# Steps to reproduce
I'm including project so that

[2019-10-22 11:42] y3g0r commented on #199
#88 related

[2019-10-22 12:03] y3g0r commented on #199
Workaround:
feed in some dummy task placeholder, like so:

[code]

[2019-10-22 13:32] sttk commented on #199
@y3g0r I reproduced by following the above steps, and I found that the 'unknown option' error was output by not `gulp-cli` but `commandar` in the `gulpfile.js`. Please review the usage of `commander`.

[2019-10-22 17:31] y3g0r commented on #199
Thanks a lot for looking into it. I'll report the problem with `commandar` to hypothesis maintainers.

[2019-10-22 17:31] #199 closed

[2019-10-29 23:43] charlespierce opened #200 "Gulp CLI fails with Windows Extended-Length Path"
If Gulp is invoked with a [Windows Extended-Length Path](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file#maximum-path-length-limitation), then it immediately fails with an `ENOENT` error:

[code]
This appears to be because a path is created using simple string concatenation, instead of `path.join()` in [this file](https://github.com/gulpjs/gulp-cli/blob/d0cf3126fc76ba96e08b09d9

[2019-11-14 14:51] chriscoyier commented on #178
I'm 100% confused by this too. I also have `CLI version 3.9.0` and seemingly no amount of un-installing things will remove it, thus Gulp 4 totally fails.

[2019-11-20 08:21] crisgaret commented on #178
@chriscoyier I hope this helps. I was able to get my CLI version 3.9.0 to switch to 2.2.0.
This worked for me, not 100% it will work in another environment, but I thought I would share. I spent way to many hours today searching this problem.
[I recommend you keep all the files you delete below in case you need to put them back]

DELETE FOLDER: `/usr/local/lib/node_modules/gulp/`
(I originally dele

[2019-11-21 20:10] chriscoyier commented on #178
@crisgaret After all that, and the final moment....

<img width="540" alt="Screen Shot 2019-11-21 at 12 09 32 PM" src="https://user-images.githubusercontent.com/69156/69373063-d432ab80-0c57-11ea-9eed-b4a7e7a5963b.png">

Aw snap. Same too-high version.

[2019-11-21 22:02] crisgaret commented on #178
Man, that sucks. I wish I knew more about the npm system to help you. I would just dig around in all the hidden usr/lib/bin folders I could find, and delete everything related to npm/gulp, also any .npm or .node type folders in your <username> folder. But that is horrible advice. Good luck, hopefully it doesn't take you another year....

[2019-11-21 22:05] terinjokes commented on #178
We're not doing anything different here.

@chriscoyier Are your running `/usr/local/bin/gulp` or something else? What is the output of `command -v gulp`?

[2019-11-21 22:24] chriscoyier commented on #178
[code]

Looks like a weird location??

[2019-11-21 22:33] kmcaloon commented on #178
Thanks @terinjokes. Running `command -v gulp` then deleting it from the resulting directory worked for me. This was sheer maddening.

[2019-11-21 22:33] terinjokes commented on #178
It's one of the locations npm installed things to. Think it comes down to how node/npm was installed. You may also have multiple `npm` binaries installed, and have gulp installed by different ones over type.

[2019-11-22 13:31] kmcaloon commented on #178
Ran into something in case someone has a similar issue. After following @terinjokes recommendation above, deleting the gulp directory, reinstalling the cli globally and then gulp in my project, I kept getting `gulp: command not found`. Found [this](https://stackoverflow.com/questions/22224831/after-installation-of-gulp-no-command-gulp-found/22274098), added `gulp` to my scripts in `package.json`,

[2019-11-22 20:50] chriscoyier commented on #178
I deleted the one at `/usr/local/share/npm/bin/gulp` which I found via `command -v gulp` and low and behold:

[code]

Thanks gang! Now to start the journey of actually writing stuff in Gulp 4!

[2019-11-23 15:53] phated commented on #178
@chriscoyier Happy you were able to get this sorted out! Huge shoutout to @terinjokes for the fix!

[2019-12-03 12:47] lucasbagatini commented on #178
My problem was that gulp and gulp-cli were installed with sudo.

So I removed:
/usr/lib/node_modules/gulp-cli
/usr/lib/node_modules/gulp

And the used npm install in my project and everything worked fine.

[2019-12-26 18:10] parduman commented on #180
i got into same problem i  got it worked by adding sudo in front and --verbose in end

[2019-12-30 21:28] saif-m commented on #178
Mac: where gulp
Ubuntu: whereis gulp

and remove the files shown in result.

for me, whereis gulp:
`gulp: /usr/bin/gulp /usr/share/man/man1/gulp.1.gz
`

then i run:
`sudo rm /usr/bin/gulp /usr/share/man/man1/gulp.1.gz`

and it's gone

[2020-02-28 04:43] dragonlin commented on #178
gulp CLI version 3.9.1 diff with 2.2.0.

i meat the case:

use `./node_modules/.bin/gulp serve --max_old_space_size=8192 --branch="fxxx"`

there will been error on CLI 3.9.1 :  max_old_space_size and branch can not parse.
but it works on gulp-cli 2.2.0

maybe what's why global gulp and gulp 4.0.  use the cli 2.2.0

[2020-02-28 04:46] dragonlin commented on #178
12:44 # ./node_modules/.bin/gulp serve --max_old_space_size=8192 --branch="fxxx"
/root/.nvm/versions/node/v10.15.3/bin/node: bad option: --branch=fxxx
[12:45:34] Node flags detected: --branch=fxxx
[12:45:34] Respawned to PID: 15595

12:45 # ./node_modules/.bin/gulp -v
[12:45:55] CLI version 3.9.1
[12:45:55] Local version 3.9.1

12:45 # gulp -v
CLI version: 2.2.0
Local version: 3.9.1

12:18 # ./nod

[2020-03-20 20:37] chillheart opened #202 "Outdated and Vulnerable Dependency"
gulp-cli uses yargs@^7.1.0 that has a child dependency (yarg-parser) that contains a known vulnerability. The vulnerability has been patched and yargs@>13.0.0.0 uses the updated dependency.

The reproduction steps are available on the vulnerability disclosure.

https://snyk.io/vuln/SNYK-JS-YARGSPARSER-560381

[2020-03-20 20:39] phated commented on #202
That doesn't effect build tools unless you are passing user input to an exec on your server. If you are doing that, you have MUCH bigger problems than this.

Also, yargs 13 breaks our compatibility matrix. I'd highly suggest not using snyk, they do a poor job of representing the real world of open source development.

[2020-03-20 20:39] #202 closed

[2020-04-16 19:43] stof opened #203 "Message about non-completed tasks is confusing on failure"
I'm using `gulp.parallel` to run several tasks in parallel. When the build succeed, everything is fine and gulp is happy with tasks completing. But when one of the tasks is failing (due to an error in one of my sass files for instance), I get a confusing output, after the plugin error, saying that some tasks failed to complete (basically all other parallel tasks, unless they were already done) and

[2020-04-26 17:40] aarongoldenthal commented on #202
I won't disagree about the actual susceptibility of this vulnerability, but it is frustrating to have to maintain exception lists for deprecated software with potential vulnerabilities so automated scans are not failing with false positives.  This vulnerability is fixed in every supported `yargs` release (originally more than a year ago).

I do appreciate the compatibility matrix problem as well,

[2020-04-26 18:06] phated commented on #202
@aarongoldenthal It's as frustrating to receive your comment as it is for you to maintain some list. Stop using garbage automated scanners.

[2020-04-28 23:08] monishgg opened #205 "Request to upgrade yargs-parser dependency"
<b>Affected component:</b>
 yargs-parser5.0.0

<b>Description:</b>
yargs-parser could be tricked into adding or modifying properties of Object.prototype using a "proto" payload.

<b>Recommendation:</b>
Upgrade to version v18.1.1;13.1.2;15.0.1
If you are using NPM 6 or above, you can run npm audit fix on your local machine to fix vulnerabilities. For more info, please visit https://docs.npmjs.com/c

[2020-04-28 23:12] phated commented on #205
Duplicate of many issues in this repository. It is a breaking change and we are looking into it.

[2020-04-28 23:12] #205 closed

[2020-04-29 13:01] yoanmalie opened #206 "Remove leading ellipsis in .flags string when running --tasks"
Hello,
Not a bug but a question and suggestion here. I hope i'm in the right repository.

Why there is leading ellipsis added on the `task.flags` description when running `gulp --tasks`? Can we just remove it? So we can add whatever if we want or keep it simply clean.

![image](https://user-images.githubusercontent.com/3357171/80597893-ca904980-8a28-11ea-85f7-e00c527ae63d.png)

Thanks!

[2020-05-01 15:23] fluffynuts opened #207 "Please update yargs so that downstream dependencies can lose security warnings"
Specifically, this is the only audit failure on one of my repos:

[code]

This is patched upstream -- should be enough to just bump yargs dep version and re-publish. I can submit a PR, but honestly, it's a 5-minute job which would be over-complicated by submitting a PR. Unless that's the only way it will get done, in which case, please ping me -- I'm happy to put in the 5 minutes 😁

[2020-05-01 17:17] contra commented on #207
Please see previous responses:

- https://github.com/gulpjs/gulp-cli/issues/202
- https://github.com/gulpjs/gulp-cli/issues/194

We are updating this in gulp 5 since it is a breaking change on their part - if they had backported their fix to the prior versions that support node 0.10+ you would be able to just run `npm upgrade` to rectify the warning.

There is 0 security risk to our users, this is

[2020-05-01 17:17] #207 closed

[2020-05-11 04:00] assunluis80 opened #208 "Dependency Update."
On installing gulp, NPM shows the follwing mesage:

![Low_Severity](https://user-images.githubusercontent.com/8853276/81522942-3ab1a000-9344-11ea-871b-2ab514b0387f.png)

After installation running the following command: `npm run`, outputs:

![NPM_Audit](https://user-images.githubusercontent.com/8853276/81522765-96c7f480-9343-11ea-8b9c-33b31ee9ebe6.png)

[2020-05-11 04:14] phated commented on #208
We are no longer accepting issues like this and I must issue you a 1 day ban. Sorry.

[2020-05-11 04:14] #208 closed

[2020-05-17 19:32] knoxcard2 opened #210 "Prototype Pollution"
yarn audit v1.22.4
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ low           │ Prototype Pollution                                          │
├───────────────┼──────────────────────────────────────────────────────────────┤
│ Package       │ yargs-parser                                                 │
├───────────────┼────────────────────────────────────────

[2020-05-17 19:32] knoxcard2 commented on #210
This fixes it...
https://github.com/gulpjs/gulp-cli/pull/209

[2020-05-17 19:44] phated commented on #210
You win the award for the first person to ignore our new issue templates.

[2020-05-17 19:44] #210 closed

[2020-05-20 05:22] #200 closed

[2020-05-20 05:24] phated opened #211 "Regression test for Windows extended-length paths"
In #200 it was identified that gulp failed to work with Windows extended-length paths. And it was fixed with `path.join()` in #201

However, we don't have any regression test for this.

It looks like AppVeyor can support this through something like https://github.com/appveyor/ci/issues/3129

@sttk @charlespierce do either of you want to try to add this regression test?

[2020-05-20 05:34] #162 closed

[2020-05-20 05:34] #203 closed

[2020-05-20 05:54] phated commented on #206
This design was contributed by a designer that volunteered time for us. We implemented based on their recommendation.

We'll consider adding the ability for you to configure this as part of our theming and translation work.

[2020-05-20 05:55] phated commented on #177
@sttk I think we should avoid logging any line that is "falsey" so they can set the theming to `false` to disable.

[2020-05-20 06:18] Kamalakannangv opened #212 "Require an update in gulp-cli to address an vulnerability"
We are using gulp package latest version 4.0.2 and it causes a vulnerability CVE-2020-7608(https://nvd.nist.gov/vuln/detail/CVE-2020-7608) report in NVD. This vulnerability is because of yargs-parser used in nested dependency of gulp package. Nested dependency is gulp@4.0.2 > gulp-cli@2.2.0 > yargs@7.1.0 > yargs-parser@5.0.0. Fix for this vulnerability is available in certain versions of yargs-par

[2020-05-20 06:20] phated commented on #212
You didn't read or follow our issue template.

[2020-05-20 06:20] #212 closed

[2020-05-20 07:17] hansnull opened #213 "dependency vulnerability handling"
**Expected**
`npm audit` issues should be fixed as soon as possible.

**Reason**
Vulnerabilities should not be part of any software and `npm audit` issues cause automated CI pipelines to fail.

**Actual**
The template https://github.com/gulpjs/.github/blob/master/.github/ISSUE_TEMPLATE/dependency_vulnerability.md
discourages the community from sending pull requests and `npm audit` issues won't be

[2020-05-20 07:21] #213 closed

[2020-05-20 12:59] sttk commented on #177
@phated To do that, we should modify `lib/shared/log/log-levels.js` in PR #161 as follows:

* L33: `log.on(level, console.error);` → `log.on(function(s) { if (s) console.error(s): });`
* L35: `log.on(level, console.log);` → `log.on(function(s) { if (s) console.log(s): });`

[2020-06-03 03:02] phated opened #215 "Tests for extension lookups"
While thinking about https://github.com/gulpjs/gulp-cli/pull/214#issuecomment-637921048

I realized I also needed to add the `.mjs` extension to the 1.x and 2.x release streams of `interpret`, but all the tests were passing for `gulp-cli`.

I think this is due to us using `--gulpfile` for all our tests. @sttk do you know a way to test for the extensions?

[2020-06-03 13:35] sttk commented on #215
@phated Extension tests are executed in a Liftoff's test. That is `test/lib/register_loader.js`.
The explanation of the test is as follows:

1. Creates loader mock for each extension. It returns a loading message with a loaded file name and the loader name.
2. Sets a `loader:success` event handler to a sample Liftoff app, and verifies the loading message in the event handler.
3. Executes `register

[2020-06-03 22:59] phated commented on #215
@sttk with the completion of #214, a file with `.mjs` extension does not use the loaders as handled by liftoff because is uses `import(gulpfilePath)`. That's why I think we need to include tests for loading by extension in this project.

[2020-06-04 12:58] sttk commented on #215
@phated Sorry. I didn't look detail of #214, and I assumed that the dynamic import function was used like `require` with being associated with `.mjs`. But the merged way is better according to interpret#68, indeed.

[2020-07-14 16:19] tomfuertes commented on #192
Hopefully helpful note as someone who just encountered this:

After running the global gulp-cli install, open a new terminal so it'll take effect.

[code]

[2020-07-26 16:00] som-cs commented on #192
I did everything said here and everywhere else. IT DOESN'T WORK. uninstalled node. reinstalled it and installed gulp-cli in every twisted way possible. still the same error. even changed the node version from 12 to 14. so if anyone in this world can solve this.

BTW error comes in run-sequence
[code]

[2020-07-26 19:20] phated commented on #192
run-sequence doesn't work with gulp 4.

[2020-09-29 12:13] Dan503 opened #219 "`gulp --gulpfile customGulpFile.ts` does not import `ts-node/register`"
[This Stack Overflow post](https://stackoverflow.com/a/49849088/1611058) explains how to use TypeScript on the primary gulp file.

Those steps work successfully for the main gulpfile.ts and outputs this line to the console when you run `gulp`

[code]

### What were you expecting to happen?

After running the following command:

[code]

I expect it to run `Requiring external module ts-node/register

[2020-09-29 13:05] Dan503 commented on #219
To make the issue easier to debug I've attempted to make a failing test case in PR #220.

[2020-10-01 16:26] mcastets commented on #192
You can use `gulp4-run-sequence` instead

[2020-10-01 19:44] phated commented on #192
No, don't do that.

[2020-10-02 23:19] zhangchenglin opened #221 "upgrade package.json"
D:\PhpstormProjects\GitHub\gulp-cli>ncu
Checking D:\PhpstormProjects\GitHub\gulp-cli\package.json
[====================] 31/31 100%

 ansi-colors          ^1.0.1  →   ^4.1.1
 concat-stream        ^1.6.0  →   ^2.0.0
 copy-props           ^2.0.1  →   ^2.0.4
 fancy-log            ^1.3.2  →   ^1.3.3
 interpret            ^1.4.0  →   ^2.2.0
 isobject             ^3.0.1  →   ^4.0.0
 mute-stdout

[2020-10-02 23:35] phated commented on #221
Read the issue template.

[2020-10-02 23:35] #221 closed

[2020-10-05 17:00] SvPhilip commented on #31
**I'm on Linux too.** Decreasing version of gulp to 3.9.1 **helped me** to execute task:
  gulp.task('scss', function(){
    return gulp.src('app/scss/**/*.scss')
        .pipe(sass({outputStyle : 'expanded'}))
        .pipe(gulp.dest('app/css'))
});

**but when I try to execute task:**

gulp.task('watch', function(){
    gulp.watch('app/scss/**/*.scss', gulp.parallel('scss'))
});
**it shows an er

[2020-10-06 01:49] phated commented on #31
@SvPhilip issues are not the correct place to ask for support. We have https://github.com/gulpjs/gulp/discussions as the place for you to request support from the community.

[2020-10-07 23:13] KleptoKat opened #222 "Gulp does not wait for gulpfile.js to complete when SIGTERM is sent to gulp-cli"
### What were you expecting to happen?

When I click CTRL+C, a sigterm is sent to gulp. I have created a watcher which spawns a child_process when anything under `src/**` is triggered. to ensure that the instance has fully exited before we restart a new instance. My instance has some async cleanup (~50 ms). I've added an `exitHandle` for SIGINT and SIGTERM handler to my gulpfile.js to prevent the

[2020-10-08 23:48] mrleblanc101 opened #223 "Gulp-cli 2.2.0 fails with `Task never defined: default`"
Before you open this issue, please complete the following tasks:

* [x] use the search bar at the top of the page to search this repository for similar issues or discussions that have already been opened.
* [ ] if you are looking for help from the gulp team or community, open a [discussion](https://github.com/gulpjs/gulp/discussions).
* [ ] if you think there is a problem with the plugin you're us

[2020-10-08 23:51] mrleblanc101 commented on #223
Some aditionnal informaiton:
[code]

[2020-10-10 04:29] sttk commented on #223
@mrleblanc101  I tried, and this is my result.

[code]

[2020-10-10 04:49] sttk commented on #223
Sorry. This issue's title says "Gulp-cli 2.2.0", but I retried on 2.2.0 and got same result.

[code]

[2020-10-10 20:30] mrleblanc101 commented on #223
2.2.0 or anything higher fails. 2.1.0 works fine.
Maybe it has something to do with how we split the task in seperate files.
We use `index.js` instead of `gulpfile.babel.js`, but since we have `--require @babel/register` in the command I don't think it's needed in the name.
[code]
<img width="300" alt="Capture d’écran, le 2020-10-10 à 16 27 31" src="https://user-images.githubusercontent.com/1739

[2020-10-10 20:39] mrleblanc101 commented on #223
I've narrowed it down and the issue seems to come from #189
If I remove all `displayName`, everything works fine.
[code]

[2020-10-10 20:56] phated commented on #223
DisplayName is the name of the task you run at the command line, so your usage was kind of wonky.

[2020-10-10 21:00] mrleblanc101 commented on #223
@phated I don't see what is wonky. DisplayName is used so the CLI show `Starting 'Building assets'...` instead of `Starting 'default'...`

[2020-10-10 21:55] phated commented on #223
It's the name of the task registered in the task system. You are not using it in the correct way.

[2020-10-11 07:06] sttk commented on #223
I mistook `.displayName` of https://github.com/gulpjs/gulp-cli/issues/223#issue-717742891 as `.description`.

`.displayName` is used to attach an alias of function name. See https://gulpjs.com/docs/en/api/task/

[2020-10-13 00:46] mrleblanc101 commented on #223
Thanks @phated @sttk

I'll look into this. The name of the propriety is pretty confusing. `displayName` should be a name meant for displaying, not as a unique identifier.

I think we misused `.displayName` as the `.description`. What I don't like about the description is that it is not shown in the prompt (only when listing with `--task`

Here what our prompt looked like when we ran ou default Gul

[2020-10-13 18:49] contra commented on #223
@mrleblanc101 Wasn't our decision to name it that way - this is how JS named functions work https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Function/displayName so we're just trying to stick to standard JS and not invent a new property name

[2020-10-13 18:54] mrleblanc101 commented on #223
I kept my multi word `displayName` for my function and removed it for my exported task and everything still look good. I just have a `Starting "default"...` at the beginning instead of my custom message, but it's still clean as it works for my function inside the default task. Thanks

I think the issue is more that this is a regression because it worked in 2.1.0, but I understand we didn't use it

[2020-10-13 18:54] #223 closed

[2020-10-13 18:56] mrleblanc101 commented on #223
This was the only problem when upgrading all our devDependancy. Now that we made the small tweak of removing the displayName for the main task, we have upgraded to the lastest version of gulp-cli

[2020-10-13 19:50] phated commented on #223
I'm glad you were able to work around it.

It's not a regression because you were actually relying on a bug in the way that code was implemented in relation to exports. The 2.2.0 release fixed that bug.

[2020-10-14 22:18] phated commented on #222
@sttk Can you help here? I'm not sure what is being requested.

[2020-10-14 22:21] phated commented on #219
@sttk can you take a look at this?

[2020-10-15 20:26] sttk commented on #222
Yes, I'll address this weekend.

[2020-10-18 13:58] sttk commented on #222
@KleptoKat I suppose your aim in this issue is to make enable to run post-tasks of a watch task and finish them normally by gulp-cli when CTRL+C is entered.

And I changed your code as follows. Does this fit your aim?

[code]

[2020-10-18 14:12] sttk commented on #222
@phated Should we implement the solution for this issue? The solution would be like the following:

[code]

[2020-10-19 10:10] n-rodriguez opened #224 "Bump yargs"
yes, I [read it](https://github.com/gulpjs/.github/blob/master/.github/ISSUE_TEMPLATE/dependency_vulnerability.md) and I don't give a f***, there is still a vulnerability and I got a lot of noise from Github in my mailbox (like you I hate spam in my mailbox).

On the top of that yargs 7.1 is 3 years old : https://github.com/yargs/yargs/releases/tag/v7.1.0, IMHO it's time to upgrade.

GHSA-p9pc-299

[2020-10-19 16:47] phated commented on #224
It's painfully obvious that you don't know how to use your tools, nor participate appropriately in an open source community. As is the proper fix to that issue, we worked with the upstream maintainers of yargs to backport a fix (participate appropriately) as [7.1.1](https://github.com/yargs/yargs/commit/066144e06438a3a2d73b50156121a4896d1e8bcc) and you are using an outdated lockfile (don't know ho

[2020-10-19 16:47] #224 closed

[2020-10-19 16:51] phated commented on #222
@sttk I think making the change you suggest is out of scope. People have all the flexibility of node at their disposal and can even hook into the watcher instance if they need to (we return Chokidar from `watch`), so I don't think I want to make that change.

[2020-10-19 20:24] sttk commented on #222
@phated Got it.

[2020-10-25 07:10] sttk commented on #219
@Dan503 There was no problem when I runned #220 with `npm i -D ts-node typescript`.

[code]

[2020-10-25 07:15] sttk commented on #219
Furthermore,

[code]

[2020-10-25 07:59] Dan503 commented on #219
Hmmm... ok so the reduced test case appears to be working properly...

This is the project that I am having the problem in:

https://github.com/Dan503/gulp-auto-imports/tree/converting-gulp-files-to-typescript

(Note it is on the "converting-gulp-files-to-typescript" branch, not the main branch)

The `npm run generate` command in that project runs the custom ts gulp files.

The `generate` command

[2020-10-25 08:07] Dan503 commented on #219
Ahhh I found the issue. I have a dot in the file name in my project.

I've pushed up a change in PR #220 to replicate the issue I am having.

So the real issue is that dots in the middle of custom gulp file names confuse the code used to determine what type of gulp file it is.

I'll update the issue name to reflect this.

[2020-10-25 11:45] sttk commented on #219
@Dan503 I could reproduce the error of this issue. And as you said, the cause of the error is dots of the middle of the gulp file.

For `gulpfile.exports.ts`, **rechoir**, which is used in gulp, recognizes that its base name is `gulpfile` and its extension is `.exports.ts`.

So **gulp-cli** cannot solve this problem in itself. However, because **rechoir** receives the filepath and extension candid

[2020-10-26 20:39] phated commented on #219
If I remember correctly, it was a design decision to handle multiple dot-separated extensions because nodes module loader doesn't support it. This was done in https://github.com/gulpjs/rechoir/pull/37 and might just be a bug

[2020-10-28 23:29] sttk commented on #219
@phated I remember that pr, too. But I forgot that **liftoff** doesn't yet update **rechoir** to latest.

I confirmed that gulp behaved correctly about this issue by updating **rechoir** version  of **liftoff** to 0.7.0.

[2020-10-30 21:54] phated commented on #219
@sttk Oh! I remember that we didn't include it because there were other breaking changes. We should plan this for the 3.0 release of gulp-cli.

I still want to completely rewrite liftoff to fit with how people are using interpret in webpack/etc. But I haven't found the time and we are no longer receiving much money to pay me for that time.

[2020-10-30 22:02] Dan503 commented on #219
Releasing in 3.0 is fine. This isn't a super urgent issue.

Now that I know what the problem is, I've renamed my gulp files to remove the dots in the middle of their file names and everything is working as expected now. 😊

I'll keep this issue open though since it is still a bug, just a minor one that can probably be marked as a low priority.

[2020-11-08 13:19] sttk commented on #153
@phated Is this issue related to https://github.com/gulpjs/gulp-cli/issues/222 ?

[2021-01-24 17:44] emilas44 opened #227 "Warning about deprecated dependencies on lts node v14.15.4"
Using node v14.15.4 (npm v6.14.10)

[code]

[2021-01-24 22:23] #227 closed

[2021-05-25 03:07] rootwork commented on #206
Personally I'd like to see this be something minimal, like two spaces, as the default. And the ellipsis could be the optional theming setting.

[2021-05-28 18:14] yann-achard opened #230 "yargs backport @7.1.2"
Regarding the following dependency chain: gulp-cli@2.3.0 -> yargs@7.1.1-> y18n@3.2.1

If I understand [this](https://github.com/gulpjs/.github/blob/master/.github/ISSUE_TEMPLATE/dependency_vulnerability.md) correctly (I'm rather new to web dev, so bear with me here) you are only interested in backports.

I see there is a [version 7.1.2 of yargs](https://www.npmjs.com/package/yargs/v/7.1.2) which d

[2021-06-06 00:25] phated commented on #230
You likely have a lockfile that is locking you into an old version of yargs. As you can see at https://github.com/gulpjs/gulp-cli/blob/master/package.json#L51, we use `^7.1.0` which means you'll get the latest 7.1.x version if you don't have a lockfile.

So, remove your lockfile or upgrade your packages.

[2021-06-06 00:25] #230 closed

[2021-07-01 14:47] mejiaj opened #231 "Prototype Pollution [High Severity] in copy-props@2.0.4"
A vulnerability with high severity has been reported from Snyk in our project. Here's the report:

  ✗ Prototype Pollution [High Severity][https://snyk.io/vuln/SNYK-JS-COPYPROPS-1082870] in copy-props@2.0.4
    introduced by gulp@4.0.2 > gulp-cli@2.3.0 > copy-props@2.0.4

Please let me know if there's anything I forgot to include.

[2021-07-01 14:47] #231 closed

[2021-07-27 16:43] Jack-Works opened #232 "--compact-tasks flag does not work"
Before you open this issue, please complete the following tasks:

* [x] use the search bar at the top of the page to search this repository for similar issues or discussions that have already been opened.
* [ ] if you are looking for help from the gulp team or community, open a [discussion](https://github.com/gulpjs/gulp/discussions).
* [ ] if you think there is a problem with the plugin you're us

[2021-07-31 05:30] sttk commented on #232
@Jack-Works I remembered and confirmed that `--compact-tasks` does not work alone. This flag have to use with `--tasks`.

[2021-07-31 15:23] Jack-Works commented on #232
I tried `npx gulp --tasks   --compact-tasks` but it emits the same output as `--tasks` alone. (Tasks didn't "compact")

[2021-07-31 20:46] sttk commented on #232
The following is an example I confirmed:

[code]

[2021-08-04 20:54] phated commented on #232
As documented:

This seems correct, so I'll close this.

[2021-09-30 11:08] jimmywarting commented on #224
I kind of hoped that yargs would be updated as well to the newer version... lots of outdated code.

[2022-01-11 03:13] sarahmluo opened #234 "Vulnerability in `copy-props`"
Hi, I'm a bit new to this, so I apologize if this turns out to be 'noise.' My project is currently flagging `copy-props@2.0.4` as a vulnerability. It lists `gulp-cli@2.3.0` as the only package dependent on this (included because I am using `gulp@4.0.2`). Github has informed me that the fix is in version 2.0.5. I viewed your package.json, and it lists `"copy-props": "^2.0.1"`. Do you know why it mi

[2022-01-11 03:35] phated commented on #234
Your lockfile. I recommend researching how lockfiles work.

[2022-01-11 03:35] #234 closed

[2022-04-24 19:40] shreyasch opened #235 "YError: Invalid second argument. Expected string or boolean but received object."
I updated yargs version in gulp-cli package.json file from ^7.0.1 to latest(17.4.1)
gulp-cli version- 2.3.0
yargs version - 17.4.1

Getting the following error

YError: Invalid second argument. Expected string or boolean but received object.
    at c (C:\...\node_modules\yargs\build\index.cjs:1:2244)
    at C:\...\node_modules\yargs\build\index.cjs:1:2096
    at Array.forEach (<anonymous>)
    at

[2022-04-24 20:28] phated commented on #235
Seems like you tried upgrading yargs past a version we support.

[2022-04-24 20:28] #235 closed

[2022-04-24 20:53] shreyasch commented on #235
Thanks for your reply @phated

I tried the yargs version 11.0 and above in gulp-cli file but, got the same error message.
Yargs version 7.0.1 is showing vulnerable that's why I tried to upgrade it to the latest.

[2022-04-25 20:08] shreyasch commented on #235
Is there any other way to resolve this error or any alternative solution that I can use?

[2022-04-25 20:11] phated commented on #235
Nope. The yargs issue isn't relevant in normal gulp usage. Blindly upgrading dependencies across semver boundaries isn't wise.

[2022-07-13 09:10] HarishAchu opened #236 "Gulp-cli 2.3.0 using vulnerable version of copy-props 2.0.1"
We are using Gulp-cli and we see that it uses a vulnerable version of copy-props, the version <2.0.5 is open for vulnerabilities and it is fixed. The latest version of copy-props is 3.0.1.

Reference: https://snyk.io/vuln/npm:copy-props

Please advise whether there is any patched version with the copy-props fixes that we can upgrade to.

Thanks !

[2022-07-13 17:49] #236 closed

[2022-07-14 07:43] 9003448874 commented on #234
@phated There is a security vulnerability in "copy-props": "^2.0.1" which is used in gulp-cli@2.3.0 package.
copy-props 2.0.5 is available and it does not have any security vulnerability. Is there any plan to update it. I see many tickets related to this is asked and closed as Spam.

[2022-11-15 06:54] oteoe opened #238 "Gulp-cli links to protestware - blocks pipelines"
Gulp CLI > Undertaker links to protestware

https://github.com/medikoo/es6-weak-map

links to

https://github.com/medikoo/es5-ext

both are from the same author

see:
https://github.com/medikoo/es5-ext/issues/186

It gets flagged as a virus and blocks a lot of projects/pipelines.

[2022-11-15 16:32] phated commented on #238
We are aware and it'll be removed in the next major release.

[2022-11-15 16:32] #238 closed